<form *ngIf="apiService.commonDataready && (model.id || mode == 'create')" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="pull-right">
        <button type="reset" class="btn btn-default btn-cancel" (click)="cancel($event)">Annulla</button>
        <button type="submit" class="btn btn-primary btn-save">Salva</button>
    </div>
    <h3 class="page-title">Registro -
        <span *ngIf="mode == 'create'" class="fw-semi-bold">Crea nuovo</span>
        <span *ngIf="mode == 'update'" class="fw-semi-bold">{{apiService.titolariIdCodEnum[model.id_titolari]}}.{{model.numero_fascicolo}}/{{model.id}}</span>
    </h3>
    <h5 class="page-title"><span *ngIf="mode == 'update'">{{model.oggetto}}</span></h5>

    <div class="row">
        <div class="col-lg-6">

            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Descrizione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nome_documento"><strong>Nome documento</strong></label>
                                <input id="nome_documento" name="nome_documento"
                                       type="text" class="form-control"
                                       placeholder="Inserisci il nome del documento"
                                       [(ngModel)]="model.nome_documento" #nome_documento="ngModel">
                            </div>
                            <div class="form-group abc-checkbox abc-checkbox-primary">
                                <input id="proposta_cipe" name="proposta_cipe" type="checkbox"
                                       [(ngModel)]="model.proposta_cipe"
                                       #proposta_cipe="ngModel"
                                >
                                <label for="proposta_cipe">
                                    Proposta CIPE {{model.proposta_cipe}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="oggetto"><strong>Oggetto</strong></label>
                                <textarea id="oggetto" name="oggetto"
                                          rows="4" class="autogrow form-control transition-height"
                                          autosize
                                          placeholder="Scrivi l'oggetto del registro..."
                                          [(ngModel)]="model.oggetto" #oggetto="ngModel" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Protocollo</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label><strong>Arrivo</strong></label>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="protocollo_arrivo">Codice</label>
                                        <input id="protocollo_arrivo" name="protocollo_arrivo"
                                               type="text" class="form-control"
                                               placeholder="numero del protocollo"
                                               [(ngModel)]="model.protocollo_arrivo" #protocollo_arrivo="ngModel">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="data_arrivo">Data</label>
                                        <datetime id="data_arrivo" name="data_arrivo"
                                                  [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data' }"
                                                  [timepicker]="false"
                                                  [(ngModel)]="model.data_arrivo" #data_arrivo="ngModel" required></datetime>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_mittenti"><strong>Mittente</strong></label>
                                        <select2 id="id_mittenti"
                                                 class="full-width-select"
                                                 [options]="select2Options"
                                                 value="{{model.id_mittenti}}"
                                                 cssImport="false"
                                                 (valueChanged)="select2Changed($event,'id_mittenti')"
                                                 [data]="apiService.mittentiSelect"></select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="Protocollo_Mittente">Codice</label>
                                        <input id="protocollo_mittente" name="protocollo_mittente"
                                               type="text" class="form-control"
                                               placeholder="numero del protocollo"
                                               [(ngModel)]="model.protocollo_mittente" #protocollo_mittente="ngModel">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="data_mittente">Data</label>
                                        <datetime id="data_mittente" name="data_mittente"
                                                  [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data' }"
                                                  [timepicker]="false"
                                                  [(ngModel)]="model.data_mittente" #data_mittente="ngModel" required></datetime>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Catalogazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_amministrazioni"><strong>Amministrazione</strong></label>
                                <select2 id="id_amministrazioni"
                                         class="full-width-select"
                                         [options]="select2OptionsMulti"
                                         value="{{model.id_amministrazioni}}"
                                         cssImport="false"
                                         (valueChanged)="select2Changed($event,'id_amministrazioni')"
                                         [data]="apiService.amministrazioniSelect"></select2>
                            </div>
                            <div class="form-group">
                                <label for="id_titolari"><strong>Titolario</strong></label>
                                <select2 id="id_titolari" name="id_titolari"
                                         class="full-width-select"
                                         [options]="select2Options"
                                         value="{{model.id_titolari}}"
                                         cssImport="false"
                                         (valueChanged)="select2Changed($event,'id_titolari')"
                                         [data]="apiService.titolariSelect"></select2>
                            </div>
                            <div class="form-group">
                                <label for="id_fascicoli"><strong>Fascicolo</strong></label>
                                <select2 id="id_fascicoli"
                                         name="id_fascicoli"
                                         class="full-width-select"
                                         [options]="select2Options"
                                         value="{{model.id_fascicoli}}"
                                         cssImport="false"
                                         (valueChanged)="select2Changed($event,'id_fascicoli')"
                                         [data]="apiService.fascicoliSelect"></select2>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Annotazioni ad uso interno</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="annotazioni" class="hidden"><strong>Note di servizio, appunti, ecc.</strong></label>
                                <textarea id="annotazioni" name="annotazioni"
                                          rows="6" class="autogrow form-control transition-height"
                                          autosize
                                          placeholder="Scrivi annotazioni ad uso interno..."
                                          [(ngModel)]="model.annotazioni" #annotazioni="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Documenti allegati</span></h4>
                </header>
                <div class="widget-body no-padding">
                    <ul *ngIf="model.allegati" class="news-list stretchable">
                        <li *ngFor="let allegato of model.allegati">
                            <span class="icon">
                                <i class="filetypes filetypes-{{allegato.tipo}} x2"></i>
                            </span>
                            <div class="news-item-info">
                                <h5 class="name no-margin mb-xs"><a href="{{apiService.config.baseAPIURL}}/{{allegato.relURI}}" target="_blank">{{allegato.nome}}</a></h5>
                                <p class="fs-mini">Dimensione: {{allegato.dimensione | fileSize}} - Data: <time>{{allegato.data  | date: 'dd/MM/yyyy'}}</time>
                                </p>

                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <div class="col-lg-6">

            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Carica File</span></h4>
                </header>
                <div class="widget-body">
                    <dropzone [config]="config"
                              [message]="' Rilascia i file qui dentro per caricarli oppure fai click per selezionare i file '"
                              (error)="onUploadError($event)"
                              (success)="onUploadSuccess($event)">
                    </dropzone>
                </div>
            </section>
        </div>
    </div>
</form>

