<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                    <h6>Registro - <span class="fw-semi-bold">Crea nuovo</span></h6>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-6">
                            <legend><strong>Protocollo di arrivo</strong></legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Protocollo_Arrivo">Numero</label>
                                        <input type="text" class="form-control" id="Protocollo_Arrivo" placeholder="numero del protocollo">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Data_Arrivo">Data</label>
                                        <datetime id="Data_Arrivo" [(ngModel)]="date"
                                                  [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true }"
                                                  [timepicker]="false"></datetime>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <legend><strong>Protocollo mittente</strong></legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Protocollo_Mittente">Numero</label>
                                        <input type="text" class="form-control" id="Protocollo_Mittente" placeholder="numero del protocollo">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Data_Mittente">Data</label>
                                        <datetime id="Data_Mittente" [(ngModel)]="date"
                                                  [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true }"
                                                  [timepicker]="false"></datetime>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="oggetto"><strong>Oggetto</strong></label>
                                <textarea rows="3" class="autogrow form-control transition-height" id="oggetto"
                                          autosize
                                          placeholder="Scrivi l'oggetto del registro..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="amministrazione"><strong>Amministrazione</strong></label>
                                <select2 id="amministrazione"
                                         class="full-width-select"
                                         [options]="select2Options"
                                         (valueChanged)="select2Changed($event)"
                                         [data]="getAmministrazione()"></select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="titolari_id"><strong>Titolario</strong></label>
                                <select2 id="titolari_id"
                                         class="full-width-select"
                                         [options]="select2Options"
                                         (valueChanged)="select2Changed($event)"
                                         [data]="getTitolari()"></select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="numero_fascicolo"><strong>Fascicolo</strong></label>
                                <select2 id="numero_fascicolo"
                                         name="numero_fascicolo"
                                         class="full-width-select"
                                         [options]="select2Options"
                                         (valueChanged)="select2Changed($event)"
                                         [data]="getFascicoli()"></select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nome_documento"><strong>Nome documento</strong></label>
                                <input type="text" class="form-control" id="nome_documento" placeholder="Inserisci il nome del documento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="annotazioni"><strong>Annotazioni</strong></label>
                                <textarea rows="3" class="autogrow form-control transition-height" id="annotazioni"
                                          autosize
                                          placeholder="Scrivi annotazioni ad uso interno..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

