<div *ngIf="apiService.userCan('CREATE_ADEMPIMENTI')" class="pull-right">
    <a [routerLink]=" ['/app/adempimenti/edit'] " class="btn btn-primary btn-save">Nuovo Adempimento</a>
</div>
<h3 class="page-title">Adempimenti / <span class="fw-semi-bold">Tutti gli adempimenti</span></h3>

<section *ngIf="apiService.commonDataready" class="widget" widget data-widgster-collapsed="false">
    <header>
        <h5 data-widgster="expand" title="Apri" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">adempimenti ...</span>
            <span *ngIf="
            filter.id ||
            filter.descrizione.length > 2 ||
            filter.data_da ||
            filter.data_a ||
            filter.id_situazione ||
            filter.anno ||
            filter.data_cipe"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters()">Rimuovi filtri</button>
            </span>
        </h5>
        <h5 data-widgster="collapse" title="Chiudi" class="clickable"><i class="fa fa-search"></i> Cerca <span
                class="fw-semi-bold">adempimenti ...</span>
            <span *ngIf="
            filter.id ||
            filter.descrizione.length > 2 ||
            filter.data_da ||
            filter.data_a ||
            filter.id_situazione ||
            filter.anno ||
            filter.data_cipe"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters()">Rimuovi filtri</button>
            </span>
        </h5>
        <div class="widget-controls m-t-1">
            <a data-widgster="expand" title="Apri"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="collapse" title="Chiudi"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="numero"><strong>Numero</strong></label>
                    <input id="numero" name="numero" class="form-control" [(ngModel)]="filter.numero" placeholder="Numero..."/>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="data_da"><strong>Da data</strong></label>
                <datetime id="data_da" name="data_da"
                          [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data', autoclose: true }"
                          [timepicker]="false"
                          [(ngModel)]="filter.data_da" #data_da="ngModel" required></datetime>
            </div>
            <div class="col-lg-2">
                <label for="data_a"><strong>A data</strong></label>
                <datetime id="data_a" name="data_a"
                          [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data', autoclose: true }"
                          [timepicker]="false"
                          [(ngModel)]="filter.data_a" #data_a="ngModel" required></datetime>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="descrizione"><strong>Descrizione</strong></label>
                    <input id="descrizione" name="descrizione" class="form-control" [formControl]="descrizioneControl"
                           placeholder="Digita almeno 3 caratteri..."/>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="anno"><strong>Anno</strong></label>
                    <select id="anno" name="anno" class="form-control" data-style="btn-secondary" data-width="auto"
                            [ngModel]="filter.anno" (change)="onYearChanged($event.target.value)">
                        <option value=""></option>
                        <ng-container *ngFor="let year of years">
                            <option value="{{year}}">{{year}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="data_cipe"><strong>Data CIPE</strong></label>
                    <select id="data_cipe" name="data_cipe" class="form-control" data-style="btn-secondary" data-width="auto"
                            [ngModel]="filter.data_cipe" (change)="onDataCipeChanged($event.target.value)">
                        <option value=""></option>
                        <ng-container *ngFor="let cipe of cipe$ | async">
                            <option value="{{cipe.data}}">{{cipe.data | date: 'dd/MM/yyyy' }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div sticktoolbar>
                <div class="row" style="height: 55px">
                    <div class="col-lg-12">
                        <div class="py-2 text-center mt-2">
                            <i class="square bg-attivo"> </i> attivo
                            <i class="square bg-in_scadenza"> </i> in scadenza
                            <i class="square bg-scaduto"> </i> scaduto
                            <i class="square bg-ottemperato"> </i> ottemperato
                            <i class="square bg-superato"> </i> superato
                            <i class="square bg-esaurito"> </i> esaurito
                            <i class="square bg-parzialmente_ottemperato"> </i> parzialmente ottemperato
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row" *ngIf="apiService.commonDataready && this.prepareData()">
    <div class="col-lg-12">
        <div class="mb-1">Risultati: {{filteredCount?.count}}</div>
        <section class="widget py-0" widget>
            <div class="widget-body widget-table-overflow">
                <table
                       class="table table-hover table-condensed table-bordered mb-0"
                       [mfData]="adempimenti$ | async | adempimentiDataFilter : filter.descrizione : filter.numero : filter.data_da : filter.data_a : filter.id_situazione : filteredCount"
                       [mfSortBy]="'data'" [mfSortOrder]="'desc'"
                       [mfRowsOnPage]="100"
                       #mf="mfDataTable" stickthead [offsetY]="55">
                    <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="3">Delibera</th>
                        <th colspan="8"></th>
                    </tr>
                    <tr>
                        <th>
                            <mfDefaultSorter by="numero">Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice">Codice</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="id_delibere">Data</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="id_delibere">Nr.</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="id_delibere">Argomento</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="descrizione">Adempimento</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice_descrizione">Tipologia</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice_fonte">Fonte</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="vincolo">Vincolo</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="data_scadenza">Scadenza</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice_esito">Stato</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="utente">Referente</mfDefaultSorter>
                        </th>
                        <th *ngIf="canDelete">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let adempimento of mf.data as Adempimento" class="{{codiceEsitoEnum[getEsito(adempimento)].class}}">
                        <td>{{adempimento.id}}</td>
                        <td><h5><strong><a [routerLink]="[ '/app/adempimenti/edit/' + adempimento.id ]">{{adempimento.codice}}</a></strong></h5></td>
                        <td>{{adempimento.id_delibere | dataEnum : apiService.dataEnum : 'delibere' : 'data' : '' | date : 'dd/MM/yyyy'}}</td>
                        <td>{{adempimento.id_delibere | dataEnum : apiService.dataEnum : 'delibere' : 'numero' : '' }}</td>
                        <td>{{adempimento.id_delibere | dataEnum : apiService.dataEnum : 'delibere' : 'argomento' : ''}}</td>
                        <td>
                            <p><a [routerLink]="[ '/app/adempimenti/edit/' + adempimento.id ]"
                                  [innerHTML]="adempimento.descrizione | dataMark : filter.descrizione"></a></p>
                        </td>
                        <td>{{codiceDescrizioneEnum[adempimento.codice_descrizione]}}</td>
                        <td>{{fonteEnum[adempimento.codice_fonte]}}</td>
                        <td>{{vincoloEnum[adempimento.vincolo]}}</td>
                        <td>{{adempimento.data_scadenza | date : 'dd/MM/yyyy'}}</td>
                        <td>{{codiceEsitoEnum[getEsito(adempimento)].label}}</td>
                        <td>{{adempimento.utente | dataEnum : apiService.dataEnum : 'users' : 'denominazione'}}</td>
                        <td *ngIf="canDelete"><p class="text-center"><a (click)="askDeleteAdempimenti($event, myModal, adempimento)"><i class="fa fa-trash-o"> </i></a></p>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[100,200,500,1000]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteAdempimenti(myModal)">
    <modal-header>
        <h4 class="modal-title text-center fw-bold mt">Conferma cancellazione adempimento</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-center mt-sm">
            Vuoi eliminare la adempimento <strong>{{deletingAdempimenti.id}}</strong><br/>
            {{deletingAdempimenti.descrizione}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>