<div *ngIf="apiService.userCan('CREATE_ADEMPIMENTI')" class="pull-right">
    <a [routerLink]=" ['/app/adempimenti/edit'] " class="btn btn-primary btn-save">Nuovo Adempimento</a>
</div>
<h3 class="page-title">Adempimenti / <span class="fw-semi-bold">Tutti gli adempimenti</span></h3>

<section *ngIf="apiService.isDataReady(['adempimenti','delibere','cipe', 'adempimenti_ambiti', 'adempimenti_tipologie', 'adempimenti_soggetti', 'adempimenti_scadenze'])"
         class="widget" widget data-widgster-collapsed="false">
    <header>
        <h5 data-widgster="expand" title="Apri" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">adempimenti ...</span>
            <span *ngIf="
            filter.id ||
            filter.descrizione.length > 2 ||
            filter.data_da ||
            filter.data_a ||
            filter.id_situazione ||
            filter.anno_delibera ||
            filter.data_cipe"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <h5 data-widgster="collapse" title="Chiudi" class="clickable"><i class="fa fa-search"></i> Cerca <span
                class="fw-semi-bold">adempimenti ...</span>
            <span *ngIf="
            filter.id ||
            filter.descrizione.length > 2 ||
            filter.data_da ||
            filter.data_a ||
            filter.id_situazione ||
            filter.anno_delibera ||
            filter.data_cipe"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <div class="widget-controls m-t-1">
            <a data-widgster="expand" title="Apri"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="collapse" title="Chiudi"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="anno_delibera"><strong>Anno delibera</strong></label>
                    <select id="anno_delibera" name="anno_delibera" class="form-control" data-style="btn-secondary" data-width="auto"
                            [ngModel]="filter.anno_delibera" (change)="onYearChanged($event.target.value)">
                        <option value=""></option>
                        <ng-container *ngFor="let year of years">
                            <option value="{{year}}">{{year}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="data_cipe"><strong>Data CIPE</strong></label>
                    <select id="data_cipe" name="data_cipe" class="form-control" data-style="btn-secondary" data-width="auto"
                            [ngModel]="filter.data_cipe" (change)="onDataCipeChanged($event.target.value)">
                        <option value=""></option>
                        <ng-container *ngFor="let cipe of cipe$ | async">
                            <option value="{{cipe.data}}">{{cipe.data | date: 'dd/MM/yyyy' }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="numero_delibera"><strong>Numero delibera</strong></label>
                    <input id="numero_delibera" name="numero_delibera" class="form-control" [(ngModel)]="filter.numero_delibera" placeholder="Numero..."/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="descrizione"><strong>Adempimento</strong></label>
                    <input id="descrizione" name="descrizione" class="form-control" [formControl]="descrizioneControl"
                           placeholder="Digita almeno 3 caratteri..."/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="codice_esito"><strong>Stato</strong></label>
                    <select id="codice_esito" name="codice_esito" class="form-control" data-style="btn-secondary" data-width="auto"
                            [(ngModel)]="filter.codice_esito">
                        <ng-container *ngFor="let codice of esitoSelect2">
                            <option value="{{codice.id}}">{{codice.text}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <div sticktoolbar>
        <div class="row">
            <div class="col-lg-12">
                <div *ngIf="apiService.isDataReady(['adempimenti','delibere','cipe'])" class="py-2 text-center">
                    <i class="square bg-attivo"> </i> attivo
                    <i class="square bg-in_scadenza"> </i> in scadenza
                    <i class="square bg-scaduto"> </i> scaduto
                    <i class="square bg-ottemperato"> </i> ottemperato
                    <i class="square bg-superato"> </i> superato
                    <i class="square bg-esaurito"> </i> esaurito
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media only screen and (max-width: 992px) {
/*        td:nth-of-type(1):before { content: "Id"; }
        td:nth-of-type(2):before { content: "Codice"; }*/
        td:nth-of-type(1):before { content: "Delibera"; }
        td:nth-of-type(2):before { content: "Adempimento"; }
        td:nth-of-type(3):before { content: "Tipologia"; }
        td:nth-of-type(4):before { content: "Azione prevista"; }
        td:nth-of-type(5):before { content: "Scadenza"; }
        td:nth-of-type(6):before { content: "Ambito"; }
        td:nth-of-type(7):before { content: "Soggetti adempimento"; }
        td:nth-of-type(8):before { content: "Stato"; }
        td:nth-of-type(9):before { content: "Azioni"; }
    }
</style>

    <div class="row" *ngIf="apiService.isDataReady(['adempimenti_scadenze', 'adempimenti','delibere','cipe', 'adempimenti_ambiti', 'adempimenti_tipologie', 'adempimenti_soggetti'])">
    <div class="col-lg-12">
        <div class="mb-1">Risultati: {{filteredCount?.count}}</div>
        <section class="widget py-0" widget>
            <div class="widget-body widget-table-overflow">
                <table
                       class="table table-hover table-condensed table-bordered mb-0"
                       [mfData]="adempimenti_V$ | async | adempimentiDataFilter : filter.data_da : filter.data_a : filter.numero_delibera : filter.descrizione : filter.codice_esito : filteredCount"
                       [mfSortBy]="'time_diff'" [mfSortOrder]="'asc'"
                       [mfRowsOnPage]="100"
                       #mf="mfDataTable" stickthead>
                    <thead>
                    <tr>
                        <!--<th colspan="2"></th>-->
                        <th colspan="1">Delibera</th>
                        <th colspan="8">Adempimento</th>
                    </tr>
                    <tr>
<!--                        <th>
                            <mfDefaultSorter by="id">Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice">Codice</mfDefaultSorter>
                        </th>-->
                        <th>
                            <mfDefaultSorter by="id_delibere">Nr./Anno - Argomento</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ambito">Ambito</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="localizzazione">Localizzazione</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="descrizione">Descrizione</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codice_descrizione">Tipologia</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="data_scadenza">Scadenza</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ambito">Soggetti<br>Adempimento</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="time_diff">Stato</mfDefaultSorter>
                        </th>
                        <th *ngIf="canDelete">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let adempimento of mf.data as Adempimento" (click)="editId(adempimento.id)" class="clickable">
<!--                        <td>{{adempimento.id}}</td>
                        <td><h5><strong><a [routerLink]="[ '/app/adempimenti/edit/' + adempimento.id ]">{{adempimento.codice}}</a></strong></h5></td>-->

                        <td>
                            <span class="badge badge-default badge-lg">{{adempimento.numero_delibera}}/{{adempimento.data_delibera | date : 'y'}}</span>
                            del {{adempimento.data_delibera | date : 'dd/MM/y'}}<br>
                            {{adempimento.argomento_delibera}}
                        </td>
                        <td>{{adempimento.ambito | dataEnum : 'adempimenti_ambiti' : 'text'}}</td>
                        <td>{{adempimento.localizzazione}}</td>
                        <td>
                            <p [innerHTML]="adempimento.descrizione | dataMark : filter.descrizione"></p>
                        </td>
                        <td>{{adempimento.tipologia | dataEnum : 'adempimenti_tipologie' : 'text'}}</td>
                        <td><p>{{adempimento.data_scadenza | date : 'dd/MM/yyyy'}}</p>
                            <p>Periodicità: <br>{{periodicitaEnum[adempimento.periodicita]}}</p>
                            <p>Anni: <br>{{adempimento.pluriennalita}}</p>
<!--                            <p><strong>Passati:</strong> {{adempimenti_scaduti[adempimento.id] | date : 'dd/MM/y'}}</p>
                            <p><strong>Imminenti:</strong> {{adempimenti_imminenti[adempimento.id]  | date : 'dd/MM/y'}}</p>
                            <p><strong>Futuri:</strong> {{adempimenti_futuri[adempimento.id]  | date : 'dd/MM/y'}}</p>-->
                        </td>

                        <td>{{adempimento.id_soggetti | dataEnum : 'adempimenti_soggetti' : 'text'}}</td>
                        <td><span class="badge badge-lg badge-default" [ngClass]="codiceEsitoEnum[adempimento.codice_esito]?.class">
                            {{codiceEsitoEnum[adempimento.codice_esito]?.label}}
                                <ng-container *ngIf="adempimento.time_diff">
                                     ({{adempimento.time_diff}}gg)
                                </ng-container>
                            </span>
                            <br>
                            <ng-container *ngIf="adempimento.scaduti">{{adempimento.ottemperati/adempimento.scaduti*100}}%</ng-container>&nbsp;({{adempimento.ottemperati}}/{{adempimento.scaduti}}&nbsp;di&nbsp;{{adempimento.totale_scadenze}})

                        </td>
                        <td *ngIf="canDelete"><p class="text-center"><a (click)="askDeleteAdempimenti($event, myModal, adempimento)"><i class="fa fa-trash-o"> </i></a></p>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <mfBootstrapPaginator [rowsOnPageSet]="[100,200,500,1000]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteAdempimenti(myModal)">
    <modal-header>
        <h4 class="modal-title text-center fw-bold mt">Conferma cancellazione adempimento</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-center mt-sm">
            Vuoi eliminare la adempimento <strong>{{deletingAdempimenti.id}}</strong><br/>
            {{deletingAdempimenti.descrizione}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>