<accordion *ngIf="config.debug" [closeOthers]="false" class="mb-lg show" id="debug[{{model.id}}]">
    <accordion-group #accordionGroupDebug [panelClass]="'accordion-danger'" [isOpen]="false">
        <div accordion-heading>
            <i class="fa fa-bug fa-lg"></i> &nbsp; <strong>Debug</strong>
            <i class="fa float-right"
               [ngClass]="{'fa-angle-down': accordionGroupDebug?.isOpen, 'fa-angle-right': !accordionGroupDebug?.isOpen}"></i>
        </div>
        <div>
            <pre>model = {{model | json}}</pre>
        </div>
    </accordion-group>
</accordion>

<form *ngIf="apiService.isDataReady(['registri','titolari','amministrazioni','tags']) && (model.id || mode == 'create')" name="form" (ngSubmit)="f.form.valid && submit($event, myModal)" #f="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>
    <div *ngIf="canEdit" class="pull-right">
        <button type="reset" class="btn btn-default btn-cancel" (click)="cancel($event)">Annulla</button>
        <button type="submit" class="btn btn-primary btn-save">Salva</button>
    </div>
    <h3 class="page-title"><a [routerLink]=" ['/app/fascicoli/list'] ">Fascicoli</a> /
        <span *ngIf="mode == 'create'" class="fw-semi-bold">Crea nuovo</span>
        <span *ngIf="mode == 'update'" class="fw-semi-bold">

            <ng-template #titolariTooltip>
                <div [innerHtml]="model.id_titolari | dataEnum : 'titolari' : 'text'"></div>
            </ng-template>

            <a [routerLink]=" ['/app/titolari/edit/'+model.id_titolari ]"
               [tooltip]="titolariTooltip" placement="bottom"
            >{{model.id_titolari | dataEnum : 'titolari' : 'codice'}} </a>
            . {{model.numero_fascicolo}}
        </span>
    </h3>
    <h4 class="page-title fw-semi-bold"><span *ngIf="mode == 'update'">{{model.argomento}}</span></h4>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="id_tags"><strong>Etichette</strong></label>
                <div class="select2-H-keeper"><select2 id="id_tags"
                                                       class="full-width-select"
                                                       [options]="select2WithAddOptionsMulti"
                                                       [value]="model.id_tags ? model.id_tags.split(',') : ''"
                                                       [cssImport]="false"
                                                       [disabled]="!canEdit"
                                                       (valueChanged)="select2Changed($event,'id_tags')"
                                                       [data]="tags$ | async"></select2></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Catalogazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !model.id_titolari }">
                        <label for="id_titolari"><strong>Titolario</strong>*</label>
                        <div class="select2-H-keeper"><select2 id="id_titolari"
                                 class="form-control full-width-select"
                                 [options]="select2Options"
                                 value="{{model.id_titolari}}"
                                 [cssImport]="false"
                                 [disabled]="!canEdit"
                                 (valueChanged)="select2Changed($event,'id_titolari')"
                                 [data]="titolari$ | async" required></select2></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="numero_fascicolo"><strong>Numero Fascicolo</strong></label>
                                <input id="numero_fascicolo" name="numero_fascicolo"
                                       type="text" class="form-control"
                                       placeholder="assegnato automaticamente"
                                       [(ngModel)]="model.numero_fascicolo" #numero_fascicolo="ngModel" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !data_magazzino.valid }">
                                <label for="data_magazzino"><strong>Data magazzino</strong>*</label>
                                <datetime id="data_magazzino" name="data_magazzino"
                                          [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data', autoclose: true }"
                                          [timepicker]="false"
                                          [readonly]="!canEdit"
                                          [(ngModel)]="model.data_magazzino" #data_magazzino="ngModel" required></datetime>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !argomento.valid }">
                        <label for="argomento"><strong>Argomento</strong>*</label>
                        <textarea id="argomento" name="argomento"
                                  rows="4" class="autogrow form-control transition-height"
                                  autosize
                                  placeholder="Scrivi l'argomento del registro..."
                                  [disabled]="!canEdit"
                                  [(ngModel)]="model.argomento" #argomento="ngModel" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_amministrazioni"><strong>Amministrazioni</strong></label>
                        <div class="select2-H-keeper">
                            <select2 id="id_amministrazioni"
                                 #id_amministrazioni
                                 class="full-width-select"
                                 [options]="select2WithAddOptionsMulti"
                                 [value]="model.id_amministrazioni ? model.id_amministrazioni.split(',') : ''"
                                 [cssImport]="false"
                                 [disabled]="!canEdit"
                                 (valueChanged)="select2Changed($event,'id_amministrazioni')"
                                 [data]="amministrazioni$ | async" required></select2></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Archiviazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group">
                        <label for="archiviazione_repertorio"><strong>Archiviazione repertorio</strong></label>
                        <input id="archiviazione_repertorio" name="archiviazione_repertorio"
                               type="text" class="form-control"
                               placeholder="Inserisci il luogo fisico di archiviazione..."
                               [disabled]="!canEdit"
                               [(ngModel)]="model.archiviazione_repertorio" #archiviazione_repertorio="ngModel">
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Annotazioni</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="annotazioni" class="hidden"><strong>Note di servizio, appunti, ecc.</strong></label>
                                <textarea id="annotazioni" name="annotazioni"
                                          rows="6" class="autogrow form-control transition-height"
                                          autosize
                                          placeholder="Scrivi annotazioni ad uso interno..."
                                          [disabled]="!canEdit"
                                          [(ngModel)]="model.annotazioni" #annotazioni="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-12">
                    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" *ngIf="apiService.isDataReady(['registri','titolari','amministrazioni','tags']) && model.id">
    <div class="col-lg-12">
        <div class="mb-1">
            <h3 class="fw-semi-bold">Registri contenuti nel fascicolo</h3>
            Risultati: {{filteredCount?.count}}
        </div>

        <section class="widget py-0" widget>
            <div class="widget-body widget-table-overflow">
                <table class="table table-hover table-condensed table-bordered mb-0"
                       [mfData]="registri$ | async | registriDataFilter : ['', '', null, null, '', '', model.id, '', '', null, filteredCount]"
                       [mfSortBy]="'codice'" [mfSortOrder]="'desc'"
                       [mfRowsOnPage]="100"
                       #mf="mfDataTable" stickthead [offsetY]="0">
                    <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="2">Protocollo&nbsp;Arrivo</th>
                        <th colspan="2">Protocollo&nbsp;Mittente</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <th>
                            <mfDefaultSorter by="codice">Codice</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="oggetto">Oggetto</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="mittenti">Mittente</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="repertorio">Repertorio</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="protocollo_arrivo">Numero</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="data_arrivo">Data</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="protocollo_mittente">Numero</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="data_mittente">Data</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="nome_documento">Allegati</mfDefaultSorter>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let registro of mf.data" (click)="editRegistriId(registro.id)" class="clickable">
                        <td>{{registro.id}}</td>
                        <td [innerHTML]="registro.oggetto"></td>
                        <!-- todo: find a better way to implement enum -->
                        <td><span *ngIf="registro.id_mittenti">{{registro.id_mittenti | dataEnum : 'mittenti' : 'text'}}</span></td>
                        <td>
                            <span *ngIf="registro.id_titolari">{{apiService.dataEnum.titolari[registro.id_titolari]['codice']}}</span>.{{registro.numero_fascicolo}}<br>
                            {{registro.id_titolari | dataEnum : 'titolari' : 'codice'}}.{{registro.id_fascicoli | dataEnum : 'fascicoli' : 'codice'}}.
                        </td>
                        <td>{{registro.protocollo_arrivo}}</td>
                        <td class="nowrap">{{registro.data_arrivo | date: 'dd/MM/yyyy' }}</td>
                        <td>{{registro.protocollo_mittente}}</td>
                        <td class="nowrap">{{registro.data_mittente | date: 'dd/MM/yyyy'}}</td>
                        <td><p class="text-center"><a [routerLink]="['/app/registri/edit/'+registro.id]" fragment="allegati"><i class="fa fa-files-o text-muted"> </i></a></p></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[100,200,500,1000]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

<modal #myModal submitButtonLabel="Conferma" [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false" (onSubmit)="confirmCodeNotification(myModal)">
    <modal-header>
        <h4 class="modal-title text-center fw-bold mt">Conferma creazione fascicolo</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-center mt-sm">
            Il nuovo fascicolo è stato creato. Il codice assegnato è <strong>{{model.numero_fascicolo}} </strong><br/>
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

