<h3 class="page-title">Fascicolo -
    <span *ngIf="mode == 'create'" class="fw-semi-bold">Crea nuovo</span>
    <span *ngIf="mode == 'update'" class="fw-semi-bold">{{model.codice_titolario}}.{{model.numero_fascicolo}}</span>
</h3>
<h5 class="page-title"><span *ngIf="mode == 'update'">{{model.argomento}}</span></h5>


<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Catalogazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group">
                        <label for="titolari_id"><strong>Titolario</strong></label>
                        <select2 id="titolari_id"
                                 class="full-width-select"
                                 [options]="select2Options"
                                 value="{{model.codice_titolario}}"
                                 cssImport="false"
                                 (valueChanged)="select2Changed($event)"
                                 [data]="apiService.titolariSelect"></select2>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="numero_fascicolo"><strong>Numero Fascicolo</strong></label>
                                <input id="numero_fascicolo" name="numero_fascicolo"
                                       type="text" class="form-control"
                                       placeholder="numero del fascicolo"
                                       [(ngModel)]="model.numero_fascicolo" #numero_fascicolo="ngModel" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="data_magazzino"><strong>Data magazzino</strong></label>
                                <datetime id="data_magazzino" name="data_magazzino"
                                          [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true }"
                                          [timepicker]="false"
                                          [(ngModel)]="model.data_magazzino" #data_magazzino="ngModel" required></datetime>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="argomento"><strong>Argomento</strong></label>
                        <textarea id="argomento" name="argomento"
                                  rows="4" class="autogrow form-control transition-height"
                                  autosize
                                  placeholder="Scrivi l'argomento del registro..."
                                  [(ngModel)]="model.argomento" #argomento="ngModel" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="amministrazione"><strong>Amministrazione</strong></label>
                        <select2 id="amministrazione"
                                 class="full-width-select"
                                 [options]="select2OptionsMulti"
                                 value="{{model.amministrazione}}"
                                 cssImport="false"
                                 (valueChanged)="select2Changed($event)"
                                 [data]="apiService.amministrazioneSelect"></select2>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Archiviazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group">
                        <label for="archiviazione_repertorio"><strong>Archiviazione repertorio</strong></label>
                        <input id="archiviazione_repertorio" name="archiviazione_repertorio"
                               type="text" class="form-control"
                               placeholder="Inserisci il luogo fisico di archiviazione..."
                               [(ngModel)]="model.archiviazione_repertorio" #archiviazione_repertorio="ngModel">
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Annotazioni ad uso interno</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="annotazioni" class="hidden"><strong>Note di servizio, appunti, ecc.</strong></label>
                                <textarea id="annotazioni" name="annotazioni"
                                          rows="6" class="autogrow form-control transition-height"
                                          autosize
                                          placeholder="Scrivi annotazioni ad uso interno..."
                                          [(ngModel)]="model.annotazioni" #annotazioni="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-toolbar pull-right">
                        <button type="button" id="compose-cancel-button" class="btn btn-default" (click)="cancel($event)">Annulla</button>
                        <button type="submit" id="compose-save-button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
</form>

