<h3 class="page-title">Fascicolo - <span class="fw-semi-bold">Crea nuovo</span></h3>


<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Catalogazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group">
                        <label for="titolari_id"><strong>Titolario</strong></label>
                        <select2 id="titolari_id"
                                 class="full-width-select"
                                 [options]="select2Options"
                                 cssImport="false"
                                 (valueChanged)="select2Changed($event)"
                                 [data]="apiService.titolariSelect"></select2>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Protocollo_Mittente"><strong>Numero Fascicolo</strong></label>
                                <input type="text" class="form-control" id="Protocollo_Mittente" placeholder="numero del fascicolo">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="data_magazzino"><strong>Data magazzino</strong></label>
                                <datetime id="data_magazzino" [(ngModel)]="date"
                                          [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true }"
                                          [timepicker]="false"></datetime>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="argomento"><strong>Argomento</strong></label>
                        <textarea rows="4" class="autogrow form-control transition-height" id="argomento"
                                  autosize
                                  placeholder="Scrivi l'argomento del registro..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="amministrazione"><strong>Amministrazione</strong></label>
                        <select2 id="amministrazione"
                                 class="full-width-select"
                                 [options]="select2OptionsMulti"
                                 cssImport="false"
                                 (valueChanged)="select2Changed($event)"
                                 [data]="apiService.amministrazioneSelect"></select2>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Archiviazione</span></h4>
                </header>
                <div class="widget-body">
                    <div class="form-group">
                        <label for="archiviazione_repertorio"><strong>Archiviazione repertorio</strong></label>
                        <input type="text" class="form-control" id="archiviazione_repertorio" placeholder="Inserisci il luogo fisico di archiviazione...">
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4><span class="fw-semi-bold">Annotazioni ad uso interno</span></h4>
                </header>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="annotazioni" class="hidden"><strong>Note di servizio, appunti, ecc.</strong></label>
                                <textarea rows="6" class="autogrow form-control transition-height" id="annotazioni"
                                          autosize
                                          placeholder="Scrivi annotazioni ad uso interno..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

