<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>

        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>

        <ul class="nav navbar-nav float-xs-right hidden-md-down mr-1">
            <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                    <!--<img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">-->
                    <span class="img-avatar"><i class="icon-user"> </i></span>
                    <span class="hidden-md-down">{{currentUser.firstName}} {{currentUser.lastName}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">
                    <!--<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profilo</a>-->
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>

    </div>
</header>

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Bacheca </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/registro']"><i class="icon-docs"></i> Registro </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/registro']"><i class="icon-folder"></i> Fascicolo </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/registro']"><i class="icon-drawer"></i> Titolario </a>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" routerLinkActive="active" [routerLink]="['/users/list']"><i class="icon-people"></i> Utenti </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/list']">Tutti gli utenti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/create']">Aggiungi nuovo</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Main content -->
<main class="main">

    <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

</main>

<footer class="footer">
    <span class="text-left">
        Mo.Si.C. 2.0.0-alpha.1
    </span>
    <span class="float-xs-right">
        &copy; 2016 <a href="http://www.programmazioneeconomica.gov.it/">Presidenza del Consiglio dei Ministri</a>
    </span>
</footer>
