<div *ngIf="apiService.userCan('CREATE_USERS')" class="pull-right">
    <a [routerLink]=" ['/app/users/edit'] " class="btn btn-primary btn-save">Nuovo Utente</a>
</div>
<h3 class="page-title">Utenti / <span class="fw-semi-bold">Tutti gli utenti</span></h3>

<section *ngIf="apiService.isDataReady(['users','uffici','groups','ruoli_cipe'])" class="widget" widget data-widgster-collapsed="false">
    <header>
        <h5 data-widgster="expand" title="Apri" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">utenti ...</span>
            <span *ngIf="filter.denominazione.length > 2 ||
                         filter.id_groups !== '' ||
                         filter.id_ruoli_cipe !== '' ||
                         filter.id_uffici !== '' ||
                         filter.cessatoServizio !== ''"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <h5 data-widgster="collapse" title="Chiudi" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">utenti ...</span>
            <span *ngIf="filter.denominazione.length > 2 ||
                         filter.id_groups !== '' ||
                         filter.id_ruoli_cipe !== '' ||
                         filter.id_uffici !== '' ||
                         filter.cessatoServizio !== ''"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <div class="widget-controls m-t-1">
            <a data-widgster="expand" title="Apri"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="collapse" title="Chiudi"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="argomento"><strong>Cognome e Nome</strong></label>
                    <input id="argomento" name="argomento" class="form-control" [(ngModel)]="filter.denominazione" placeholder="Digita almeno 3 caratteri..."/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <!-- EDIT -->
                    <div class="select2-H-keeper">
                        <label for="id_groups"><strong>Gruppo</strong></label>
                        <select2
                                id="id_groups"
                                class="full-width-select"
                                [options]="select2Options"
                                [value]="filter.id_groups"
                                (valueChanged)="select2Changed($event, 'id_groups')"
                                cssImport="false"
                                [data]="groups$ | async"></select2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <!-- EDIT -->
                    <div class="select2-H-keeper">
                        <label for="id_uffici"><strong>Ufficio</strong></label>
                        <select2
                                id="id_uffici"
                                class="full-width-select"
                                [options]="select2Options"
                                [value]="filter.id_uffici"
                                (valueChanged)="select2Changed($event, 'id_uffici')"
                                cssImport="false"
                                [data]="uffici$ | async"></select2>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <!-- EDIT -->
                    <div class="select2-H-keeper">
                        <label for="id_ruoli_cipe"><strong>Ruolo</strong></label>
                        <select2
                                id="id_ruoli_cipe"
                                class="full-width-select"
                                [options]="select2Options"
                                [value]="filter.id_ruoli_cipe"
                                (valueChanged)="select2Changed($event, 'id_ruoli_cipe')"
                                cssImport="false"
                                [data]="ruoli_cipe$ | async"></select2>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="anno"><strong>Stato</strong></label>
                    <select id="anno" name="anno" class="form-control" data-style="btn-secondary" data-width="auto"
                            [(ngModel)]="filter.cessatoServizio">
                        <option value=""></option>
                        <option value="0">Attivo</option>
                        <option value="1">Cessato servizio</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    @media only screen and (max-width: 992px) {
        td:nth-of-type(1):before { content: "Cognome e Nome"; }
        td:nth-of-type(2):before { content: "Nome utente"; }
        td:nth-of-type(3):before { content: "E-Mail"; }
        td:nth-of-type(4):before { content: "Data registrazione"; }
        td:nth-of-type(5):before { content: "Gruppo"; }
        td:nth-of-type(6):before { content: "Ruolo"; }
        td:nth-of-type(7):before { content: "Ufficio"; }
        td:nth-of-type(8):before { content: "Stato"; }
        td:nth-of-type(9):before { content: "Azioni"; }
    }
</style>

<div class="row" *ngIf="apiService.isDataReady(['users','uffici','groups','ruoli_cipe'])">
    <div class="col-lg-12">
        <div class="mb-1">Risultati: {{filteredCount?.count}}</div>
        <section class="widget py-0" widget>
            <div class="widget-body widget-table-overflow">
                <table class="table table-hover table-condensed mb-0 table-bordered"
                       [mfData]="users$ | async | usersDataFilter : filter.denominazione : filter.id_uffici : filter.id_ruoli_cipe : filter.id_groups : filter.cessatoServizio : filteredCount"
                       #mf="mfDataTable" stickthead [offsetY]="0">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="lastName">Cognome e Nome</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="userName">Nome utente</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="eMail">E-Mail</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="registrationDate">Data registrazione</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="id_groups">Gruppo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="id_ruoli_cipe">Ruolo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="id_uffici">Ufficio</mfDefaultSorter></th>
<!--                        <th>IP</th>
                        <th>Stazione</th>-->
                        <th><mfDefaultSorter by="registrationDate">Stato</mfDefaultSorter></th>
                        <th *ngIf="canDelete">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of mf.data" (click)="editId(user.id)" class="clickable">
                        <td [innerHTML]="user.denominazione | dataMark : filter.denominazione"></td>
                        <td>{{user.userName}}</td>
                        <td>{{user.eMail}}</td>
                        <td>{{user.registrationDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{user.id_groups | dataEnum : 'groups' : 'name' }}</td>
                        <td>{{user.id_ruoli_cipe | dataEnum : 'ruoli_cipe' : 'denominazione' }}</td>
                        <td>{{user.id_uffici | dataEnum : 'uffici' : 'denominazione' }}</td>
<!--                        <td>{{user.ip}}</td>
                        <td>{{user.stazione}}</td>-->
                        <td>
                            <span *ngIf="user.cessatoServizio === '0'" class="badge badge-success">Attivo</span>
                            <span *ngIf="user.cessatoServizio === '1'" class="badge badge-danger">Cessato servizio</span>
                        </td>
                        <td *ngIf="canDelete">
                            <a (click)="askDeleteUser($event, myModal, user)"><i class="fa fa-trash-o"> </i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteUser(myModal)">
    <modal-header>
        <h4 class="modal-title text-center fw-bold mt">Conferma cancellazione utente</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-center mt-sm">
            Vuoi eliminare l'utente <strong>{{deletingUser.userName}}</strong><br/>
            {{deletingUser.firstName}} {{deletingUser.lastName}} - {{deletingUser.eMail}}<br/>
            registrato il {{deletingUser.registrationDate | date: 'dd/MM/yyyy HH:mm'}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>