<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteFascicoli(myModal)">
    <modal-header>
        <h4 class="modal-title text-xs-center fw-bold mt">Conferma cancellazione fascicolo</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-xs-center mt-sm">
<!--            Vuoi eliminare l'utente <strong>{{deletingUser.userName}}</strong><br/>
            {{deletingUser.firstName}} {{deletingUser.lastName}} - {{deletingUser.eMail}}<br/>
            registrato il {{deletingUser.registrationDate | date: 'dd/MM/yyyy HH:mm'}} ?-->
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <header>
                <h6>Fascicolo - <span class="fw-semi-bold">Tutti i fascicoli</span></h6>
            </header>
            <div class="widget-body">
                <table class="table table-hover table-condensed mb-0" [mfData]="fascicoli" #mf="mfDataTable" stickthead>
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="numero_fascicolo">Fascicolo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="argomento">Argomento</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="amministrazione">Amministrazione</mfDefaultSorter></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fascicolo of mf.data">
                        <td><span class="tag tag-info">{{fascicolo.numero_fascicolo}}</span></td>
                        <td>{{fascicolo.argomento}}</td>
                        <td>{{fascicolo.amministrazione}}</td>
                        <td>
                            <a (click)="askDeleteFascicoli(myModal, user)"><i class="fa fa-trash-o"> </i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer>
            </footer>
        </section>
    </div>
</div>