<h3 class="page-title">Fascicolo - <span class="fw-semi-bold">Tutti i fascicoli</span></h3>

<section *ngIf="apiService.commonDataready && fascicoli && fascicoli.length" class="widget" widget data-widgster-collapsed="true">
    <header>
        <h5 data-widgster="expand" title="Apri" class="clickable"><i class="fa fa-search"></i> Filtra <span class="fw-semi-bold">fascicoli ...</span></h5>
        <h5 data-widgster="collapse" title="Chiudi" class="clickable"><i class="fa fa-search"></i> Filtra <span class="fw-semi-bold">fascicoli ...</span></h5>
        <div class="widget-controls m-t-1">
            <a data-widgster="expand" title="Apri"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="collapse" title="Chiudi"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="titolari_id"><strong>Titolario</strong></label>
                    <select2 id="titolari_id"
                             class="full-width-select"
                             [options]="select2Options"
                             value="{{filter.id_titolari}}"
                             cssImport="false"
                             (valueChanged)="select2Changed($event,'id_titolari')"
                             [data]="apiService.titolariSelect"></select2>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="numero_fascicolo"><strong>Fascicolo</strong></label>
                    <input id="numero_fascicolo" name="numero_fascicolo" class="form-control" [(ngModel)]="filter.numero_fascicolo" placeholder="Numero..."/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="argomento"><strong>Argomento</strong></label>
                    <input id="argomento" name="argomento" class="form-control" [(ngModel)]="filter.argomento" placeholder="Digita almeno 3 caratteri..."/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="amministrazione"><strong>Amministrazione</strong></label>
                    <select2 id="amministrazione"
                             class="full-width-select"
                             [options]="select2Options"
                             value="{{filter.amministrazione}}"
                             cssImport="false"
                             (valueChanged)="select2Changed($event,'amministrazione')"
                             [data]="apiService.amministrazioneSelect"></select2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <table class="table table-hover table-condensed mb-0"
                       #mf="mfDataTable"
                       [mfData]="fascicoli | fascicoliDataFilter : filter.argomento : filter.id_titolari : filter.amministrazione: filter.numero_fascicolo"
                       [mfRowsOnPage]="100"
                       stickthead>
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="id_titolari">Titolario</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="numero_fascicolo">Fascicolo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="argomento">Argomento</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="amministrazione">Amministrazione</mfDefaultSorter></th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fascicolo of mf.data" (click)="editId(fascicolo.id)" class="clickable">
                        <td>{{apiService.titolariEnum[fascicolo.id_titolari]}}</td>
                        <td>{{fascicolo.numero_fascicolo}}</td>
                        <td [innerHTML]="fascicolo.argomento | dataMark : filter.argomento"></td>
                        <td>{{apiService.amministrazioneEnum[fascicolo.id_amministrazione]}}</td>
                        <td>
                            <a (click)="askDeleteFascicoli($event, myModal, fascicolo)"><i class="fa fa-trash-o"> </i></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[100,200,500,1000]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <footer>
            </footer>
        </section>
    </div>
</div>


<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteFascicoli(myModal)">
    <modal-header>
        <h4 class="modal-title text-xs-center fw-bold mt">Conferma cancellazione fascicolo</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-xs-center mt-sm">
            Vuoi eliminare il fascicolo <strong>{{deletingFascicoli.numero_fascicolo}} </strong><br/>
            {{deletingFascicoli.argomento}} -
            {{deletingFascicoli.amministrazione}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>