<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteRegistri(myModal)">
    <modal-header>
        <h4 class="modal-title text-xs-center fw-bold mt">Conferma cancellazione registro</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-xs-center mt-sm">
            Vuoi eliminare il registro <strong>{{deletingRegistri.id}}</strong><br/>
            {{deletingRegistri.oggetto}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>

<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <header>
                <h6>Registri - <span class="fw-semi-bold">Tutti i registri</span></h6>
            </header>
            <div class="widget-body">
                <table class="table table-hover table-condensed mb-0" [mfData]="registri" #mf="mfDataTable" stickthead>
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="id">Codice</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="oggetto">Oggetto</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="mittente">Mittente</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="repertorio">Repertorio</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="protocollo_arrivo">Protocollo Arrivo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="data_arrivo">Data Arrivo</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="protocollo_mittente">Protocollo Mittente</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="data_mittente">Data Mittente</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="allegati">Documento</mfDefaultSorter></th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let registro of mf.data">
                        <td>{{registro.id}}</td>
                        <td>{{registro.oggetto}}</td>
                        <td>{{registro.mittente}}</td>
                        <td>{{registro.repertorio}}</td>
                        <td>{{registro.protocollo_arrivo}}</td>
                        <td>{{registro.data_arrivo}}</td>
                        <td>{{registro.protocollo_mittente}}</td>
                        <td>{{registro.data_mittente}}</td>
                        <td>{{registro.allegati}}</td>
                        <td>
                            <a (click)="askDeleteTitolari(myModal, registro)"><i class="fa fa-trash-o"> </i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer>
            </footer>
        </section>
    </div>
</div>