<div *ngIf="apiService.userCan('CREATE_REGISTRI')" class="pull-right">
    <a [routerLink]=" ['/app/registri/edit'] " class="btn btn-primary btn-save">Nuovo Registro</a>
</div>
<h3 class="page-title">Registri / <span class="fw-semi-bold">Tutti i registri</span></h3>

<section *ngIf="apiService.isDataReady(['registri','titolari','fascicoli','mittenti','tags'])"
         class="widget" widget data-widgster-collapsed="false">
    <header>
        <h5 data-widgster="expand" title="Apri" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">registri ...</span>
            <span *ngIf="
            filter.id ||
            filter.oggetto.length > 2 ||
            filter.id_titolari ||
            filter.id_mittenti ||
            filter.id_fascicoli ||
            filter.protocollo_mittente ||
            filter.protocollo_arrivo ||
            filter.data_arrivo_da ||
            filter.data_arrivo_a ||
            filter.id_tags"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <h5 data-widgster="collapse" title="Chiudi" class="clickable"><i class="fa fa-search"></i> Cerca <span class="fw-semi-bold">registri ...</span>
            <span *ngIf="
            filter.id ||
            filter.oggetto.length > 2 ||
            filter.id_titolari ||
            filter.id_mittenti ||
            filter.id_fascicoli ||
            filter.protocollo_mittente ||
            filter.protocollo_arrivo ||
            filter.data_arrivo_da ||
            filter.data_arrivo_a ||
            filter.id_tags"
                  class="float-lg-right mr-3">
                <button class="btn btn-success btn-xs mb-xs" (click)="resetFilters($event)">Rimuovi filtri</button>
            </span>
        </h5>
        <div class="widget-controls m-t-1">
            <a data-widgster="expand" title="Apri"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="collapse" title="Chiudi"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="id"><strong>Codice</strong></label>
                    <input id="id" name="id" class="form-control" [(ngModel)]="filter.id" placeholder="Numero..."/>
                </div>
                <div class="form-group">
                    <label for="oggetto"><strong>Oggetto</strong></label>
                    <input id="oggetto" name="oggetto" class="form-control" [formControl]="oggettoControl"
                           placeholder="Digita almeno 3 caratteri..."/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="id_titolari"><strong>Titolario</strong></label>
                    <div class="select2-H-keeper"><select2 id="id_titolari"
                             class="full-width-select"
                             [options]="select2Options"
                             [value]="filter.id_titolari"
                             [cssImport]="false"
                             (valueChanged)="select2Changed($event,'id_titolari')"
                             [data]="titolari$ | async"></select2></div>
                            <!-- id_titolari: {{filter.id_titolari}} -->
                </div>

                <div class="form-group">
                    <label for="id_fascicoli"><strong>Fascicolo</strong></label>
                    <div class="select2-H-keeper"><select2 id="id_fascicoli"
                             name="id_fascicoli"
                             class="full-width-select"
                             [options]="select2Options"
                             [value]="filter.id_fascicoli"
                             [cssImport]="false"
                             (valueChanged)="select2Changed($event,'id_fascicoli')"
                             [data]="fascicoli$ | async | fascicoliByTitolarioDataFilter : filter.id_titolari"></select2></div>
                            <!--id_fascicoli: {{filter.id_fascicoli}}-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="id_mittenti"><strong>Mittente</strong></label>
                    <div class="select2-H-keeper"><select2 id="id_mittenti"
                             class="full-width-select"
                             [options]="select2Options"
                             value="{{filter.id_mittenti}}"
                             [cssImport]="false"
                             (valueChanged)="select2Changed($event,'id_mittenti')"
                             [data]="mittenti$ | async"></select2></div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="data_arrivo_da"><strong>Da data di arrivo</strong></label>
                            <datetime id="data_arrivo_da" name="data_arrivo_da"
                                      [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data', autoclose: true }"
                                      [timepicker]="false"
                                      [(ngModel)]="filter.data_arrivo_da" #data_arrivo_da="ngModel"></datetime>
                        </div>
                        <div class="col-lg-6">
                            <label for="data_arrivo_a"><strong>A data di arrivo</strong></label>
                            <datetime id="data_arrivo_a" name="data_arrivo_a"
                                      [datepicker]="{language: 'it', icon: 'fa fa-calendar', todayBtn: 'linked', todayHighlight: true, placeholder:'Scegli data', autoclose: true }"
                                      [timepicker]="false"
                                      [(ngModel)]="filter.data_arrivo_a" #data_arrivo_a="ngModel"></datetime>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="protocollo_mittente"><strong>Protocollo mittenti</strong></label>
                    <input id="protocollo_mittente" name="protocollo_mittente" class="form-control" [(ngModel)]="filter.protocollo_mittente"
                           placeholder="Codice..."/>
                </div>
                <div class="form-group">
                    <label for="protocollo_arrivo"><strong>Protocollo arrivo</strong></label>
                    <input id="protocollo_arrivo" name="protocollo_arrivo" class="form-control" [(ngModel)]="filter.protocollo_arrivo"
                           placeholder="Codice..."/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="id_tags"><strong>Etichette</strong></label>
                    <div class="select2-H-keeper"><select2 id="id_tags"
                                                           class="full-width-select"
                                                           [options]="select2Options"
                                                           value="{{filter.id_tags}}"
                                                           [cssImport]="false"
                                                           (valueChanged)="select2Changed($event,'id_tags')"
                                                           [data]="tags$ | async"></select2></div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    @media only screen and (max-width: 992px) {
        td:nth-of-type(1):before { content: "Codice"; }
        td:nth-of-type(2):before { content: "Oggetto"; }
        td:nth-of-type(3):before { content: "Mittente"; }
        td:nth-of-type(4):before { content: "Repertorio"; }
        td:nth-of-type(5):before { content: "Procollo arrivo N°"; }
        td:nth-of-type(6):before { content: "Procollo arrivo data"; }
        td:nth-of-type(7):before { content: "Procollo mittente N°"; }
        td:nth-of-type(8):before { content: "Procollo mittente data"; }
        td:nth-of-type(9):before { content: "Allegati"; }
        td:nth-of-type(10):before { content: "Azioni"; }
    }
</style>

<div class="row" *ngIf="apiService.isDataReady(['registri','titolari','fascicoli','mittenti','tags'])">
    <div class="col-lg-12">
        <div class="mb-1">Risultati: {{filteredCount?.count}}</div>
        <section class="widget py-0" widget>
            <div class="widget-body widget-table-overflow">
                <table class="table table-hover table-condensed table-bordered mb-0"
                       [mfData]="registri$ | async | registriDataFilter : [filter.id, filter.oggetto, filter.id_titolari, filter.id_mittenti, filter.protocollo_mittente, filter.protocollo_arrivo, filter.id_fascicoli, filter.data_arrivo_da, filter.data_arrivo_a, filter.id_tags, filteredCount]"
                       [mfSortBy]="'codice'" [mfSortOrder]="'desc'"
                       [mfRowsOnPage]="100"
                       #mf="mfDataTable" stickthead [offsetY]="0">
                    <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="2">Protocollo&nbsp;Arrivo</th>
                        <th colspan="2">Protocollo&nbsp;Mittente</th>
                        <th colspan="3"></th>
                    </tr>
                    <tr>
                        <th><mfDefaultSorter by="codice">Codice</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="oggetto">Oggetto</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="mittenti">Mittente</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="repertorio">Repertorio</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="protocollo_arrivo">Numero</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="data_arrivo">Data</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="protocollo_mittente">Numero</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="data_mittente">Data</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="id_tags">Etichette</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nome_documento">Allegati</mfDefaultSorter></th>
                        <th *ngIf="apiService.userCan('DELETE_REGISTRI')">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let registro of mf.data">
                        <td>{{registro.id}}</td>
                        <td><a [routerLink]="[ '/app/registri/edit/' + registro.id ]"
                              [innerHTML]="registro.oggetto | dataMark : filter.oggetto"></a>
                        </td>
                        <!-- todo: find a better way to implement enum -->
                        <td><span *ngIf="registro.id_mittenti">{{apiService.dataEnum.mittenti[registro.id_mittenti]['text']}}</span></td>
                        <td>
                            {{registro.id_titolari | dataEnum : apiService.dataEnum : 'titolari' : 'codice'}}.
                            {{registro.id_fascicoli | dataEnum : apiService.dataEnum : 'fascicoli' : 'numero_fascicolo'}}<br>

                            <small style="text-wrap: avoid">{{registro.denominazione_sottofascicolo}}</small>
                            <!--<br/>id_titolari:&nbsp;{{registro.id_titolari}}-->
                            <!--<br/> id_fascicoli:&nbsp;{{registro.id_fascicoli}}-->
                        </td>
                        <td>{{registro.protocollo_arrivo}}</td>
                        <td class="nowrap">{{registro.data_arrivo | date: 'dd/MM/yyyy': 'UTC' }}</td>
                        <td>{{registro.protocollo_mittente}}</td>
                        <td class="nowrap">{{registro.data_mittente | date: 'dd/MM/yyyy' : 'UTC' }}</td>
                        <td>
                            <div class="tag-container" [innerHTML]="registro.id_tags | tagEnum : apiService.dataEnum : 'tags' : 'denominazione' : ''"></div>
                        </td>
                        <td><p class="text-center"><a [routerLink]="['/app/registri/edit/'+registro.id]" fragment="allegati"><i class="fa fa-files-o text-muted"> </i></a></p></td>
                        <td *ngIf="apiService.userCan('DELETE_REGISTRI')"><p class="text-center"><a (click)="askDeleteRegistri($event, myModal, registro)"><i class="fa fa-trash-o"> </i></a></p></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <mfBootstrapPaginator [rowsOnPageSet]="[100,200,500,1000]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

<modal #myModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true" (onSubmit)="confirmDeleteRegistri(myModal)">
    <modal-header>
        <h4 class="modal-title text-center fw-bold mt">Conferma cancellazione registro</h4>
    </modal-header>
    <modal-content>
        <h4 class="text-center mt-sm">
            Vuoi eliminare il registro <strong>{{deletingRegistri.id}}</strong><br/>
            {{deletingRegistri.oggetto}} ?
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>