<form *ngIf="model.id || mode == 'create'" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>
    <div *ngIf="canEdit" class="pull-right">
        <button type="reset" class="btn btn-default btn-cancel" (click)="cancel($event)">Annulla</button>
        <button type="submit" class="btn btn-primary btn-save">Salva</button>
    </div>
    <h3 class="page-title"><a [routerLink]=" ['/app/uffici/list'] ">Uffici</a> -
        <span *ngIf="mode == 'create'" class="fw-semi-bold">Crea nuovo</span>
        <span *ngIf="mode == 'update'" class="fw-semi-bold">{{model.codice}} {{model.denominazione}}</span>
    </h3>
    <div class="row clearfix">
        <div class="col-lg-12">
            <section class="widget">
                <div class="widget-body">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !denominazione.valid }">
                                <label for="denominazione"><strong>Denominazione</strong></label>
                                <input type="text" class="form-control" id="denominazione" name="denominazione"
                                       placeholder="Scrivi la denominazione del ufficio..."
                                       [disabled]="!canEdit"
                                       [(ngModel)]="model.denominazione" #denominazione="ngModel" required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !ordine_ufficio.valid }">
                                <label for="ordine_ufficio"><strong>Ordine ufficio</strong></label>
                                <input id="ordine_ufficio" name="ordine_ufficio"
                                       type="text" class="form-control"
                                       placeholder="ordine ufficio"
                                       [disabled]="!canEdit"
                                       [(ngModel)]="model.ordine_ufficio" #ordine_ufficio="ngModel">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !codice_direzione.valid }">
                                <label for="codice_direzione"><strong>Codice direzione</strong></label>
                                <input id="codice_direzione" name="codice_direzione"
                                       type="text" class="form-control"
                                       placeholder="codice direzione"
                                       [disabled]="!canEdit"
                                       [(ngModel)]="model.codice_direzione" #codice_direzione="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group abc-checkbox abc-checkbox-primary">
                                <input id="disattivo_ufficio" name="disattivo_ufficio" type="checkbox"
                                       [checked]="model.disattivo_ufficio == '1'"
                                       [disabled]="!canEdit"
                                       (change)="model.disattivo_ufficio = $event.target.checked == 1 ? '1' : '0'"
                                >
                                <label for="disattivo_ufficio">
                                    <strong>Disattiva ufficio</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group abc-checkbox abc-checkbox-primary">
                                <input id="solo_delibere" name="solo_delibere" type="checkbox"
                                       [checked]="model.solo_delibere == '1'"
                                       [disabled]="!canEdit"
                                       (change)="model.solo_delibere = $event.target.checked == 1 ? '1' : '0'"
                                >
                                <label for="solo_delibere">
                                    <strong>Solo delibere</strong>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

