<div class="js-sidebar-content">
    <header class="logo hidden-sm-down">
        <a href="index.html">{{config.name}}</a>
    </header>
    <!-- main notification links are placed inside of .sidebar-nav -->
    <ul class="sidebar-nav">
        <li><a [routerLink]="['dashboard']"><span class="icon"><i class="fa fa-child"></i></span> Bacheca </a></li>
<!--
        <li><a [routerLink]=" ['another-page'] "> <span class="icon"> <i class="fa fa-tree"></i> </span> Another Page </a></li>
        <li>
            <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="glyphicon glyphicon-align-right"></i></span>
                Forms
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-forms" class="collapse">
                <li><a [routerLink]=" ['forms/elements'] ">Form Elements</a></li>
                <li><a [routerLink]=" ['forms/validation'] ">Form Validation</a></li>
                <li><a [routerLink]=" ['forms/wizard'] ">Form Wizard</a></li>
            </ul>
        </li>
 -->
        <li>
            <a class="collapsed" data-target="#sidebar-register" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-docs"></i></span>
                Registro
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-register" class="collapse">
                <li><a [routerLink]=" ['registri/list'] ">Tutti i registri</a></li>
                <li><a [routerLink]=" ['registri/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-file" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-folder"></i></span>
                Fascicolo
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-file" class="collapse">
                <li><a [routerLink]=" ['fascicoli/list'] ">Tutti i fascicoli</a></li>
                <li><a [routerLink]=" ['fascicoli/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-filingplan" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-drawer"></i></span>
                Titolario
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-filingplan" class="collapse">
                <li><a [routerLink]=" ['titolari/list'] ">Tutti i titolari</a></li>
                <li><a [routerLink]=" ['titolari/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-precipe" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-bubbles"></i></span>
                pre-CIPE
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-precipe" class="collapse">
                <li><a [routerLink]=" ['pre-cipe/list'] ">Tutti i pre-CIPE</a></li>
                <li><a [routerLink]=" ['pre-cipe/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-cipe" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="fa fa-gavel"></i></span>
                CIPE
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-cipe" class="collapse">
                <li><a [routerLink]=" ['cipe/list'] ">Tutti i CIPE</a></li>
                <li><a [routerLink]=" ['cipe/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-users" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-people"></i></span>
                Utenti
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-users" class="collapse">
                <li><a [routerLink]=" ['users/list'] ">Tutti gli utenti</a></li>
                <li><a [routerLink]=" ['users/edit'] ">Crea nuovo</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-service" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon"><i class="simpleicon icon-wrench"></i></span>
                Servizio
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-service" class="collapse">
                <li><a [routerLink]=" ['amministrazioni/list'] ">Tutte le amministrazioni</a></li>
                <li><a [routerLink]=" ['amministrazioni/edit'] ">Nuova amministrazione</a></li>
                <li><a [routerLink]=" ['mittenti/list'] ">Tutti i mittenti</a></li>
                <li><a [routerLink]=" ['mittenti/edit'] ">Nuovo mittente</a></li>
            </ul>
        </li>
    </ul>

</div>
