<form name="form" [formGroup]="odgItemForm">
    <div class="row hide-child-nohover-or-noactive" [ngClass]="{ 'active': edit }">
        <div class="col-md-2">
            <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['ordine'].valid}">
                <!-- VIEW -->
                <div *ngIf="!edit">
                    <div class="clearfix">
                        <div class="float-left rel-t-m5 visible-parent-hover-or-active mr-2"><i class="fa fa-sort fa-lg"> </i></div>
                        <h2 class="ml-2"><strong>{{item.ordine}}</strong>&nbsp;</h2>
                    </div>
                    <div>
                        <span class="ml-1 badge badge-lg badge-default text-left line-height-lg"
                              [title]="item.id_uffici | dataEnum : apiService.dataEnum : 'uffici'"
                              [innerHTML]="item.id_uffici | dataEnum : apiService.dataEnum : 'uffici' : 'denominazione' : '<br/>'"></span>
                    </div>
                    <h6 class="ml-1">
                        <span *ngIf="item.risultanza !== 1 && item.risultanza !== 2" class="badge badge-lg badge-default rel-t-l2">N/D</span>
                        <span *ngIf="item.risultanza === 2" class="badge badge-lg badge-warning rel-t-l2">Rinviato</span>
                        <span *ngIf="item.risultanza === 1" class="badge badge-lg badge-success rel-t-l2">Positivo</span>
                    </h6>
                </div>

                <!-- EDIT -->
                <input *ngIf="edit" type="text" class="form-control form-control-lg"
                       placeholder="..."
                       [disableCond]="!edit"
                       [formControl]="odgItemForm.controls['ordine']">

                <!-- UFFICIO -->
                <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['id_uffici'].valid}">
                    <!-- EDIT -->
                    <div *ngIf="edit" class="select2-H-keeper">
                        <br/>
                        <label for="id_uffici[{{item.id}}]"><strong>Uffici competenti</strong></label>
                        <select2
                                id="id_uffici[{{item.id}}]"
                                class="full-width-select"
                                [options]="select2OptionsMulti"
                                [value]="item.id_uffici"
                                (valueChanged)="select2Changed($event, item, 'id_uffici')"
                                cssImport="false"
                                [data]="uffici$ | async"></select2>

                        <!--todo: ng2-select2 no form control value accessor workaround-->
                        <input type="hidden" [formControl]="odgItemForm.controls['id_uffici']" [disableCond]="!edit">
                    </div>
                </div>

                <!-- ESITO -->
                <div *ngIf="edit" class="mt-1">
                    <label><strong>Esito</strong></label>
                    <div class="radio abc-radio abc-radio-default">
                        <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_nd[{{item.id}}]"
                               [value]="0"
                               [disableCond]="!edit"
                               [formControl]="odgItemForm.controls['risultanza']"
                               (click)="item.risultanza = null">
                        <label for="risultanza_nd[{{item.id}}]">
                            <span [ngClass]="{ 'badge badge-lg badge-default': item.risultanza !== 1 && item.risultanza !== 2 }">N/D</span>
                        </label>
                    </div>
                    <div class="radio abc-radio abc-radio-warning">
                        <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_rinviato[{{item.id}}]"
                               [value]="2"
                               [disableCond]="!edit"
                               [formControl]="odgItemForm.controls['risultanza']"
                               (click)="item.risultanza = 2">
                        <label for="risultanza_rinviato[{{item.id}}]">
                            <span [ngClass]="{ 'badge badge-lg badge-warning': item.risultanza === 2 }">Rinviato</span>
                        </label>
                    </div>
                    <div class="radio abc-radio abc-radio-success">
                        <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_positivo[{{item.id}}]"
                               [value]="1"
                               [disableCond]="!edit"
                               [formControl]="odgItemForm.controls['risultanza']"
                               (click)="item.risultanza = 1">
                        <label for="risultanza_positivo[{{item.id}}]">
                            <span [ngClass]="{ 'badge badge-lg badge-success': item.risultanza === 1 }">Positivo</span>
                        </label>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-md-10">

            <div class="clearfix mb-3">
                <div *ngIf="canDelete" class="float-md-right visible-parent-hover-or-active ml-2">
                    <button type="button" class="btn btn-xs btn-outline-danger" (click)="deleteOdg($event,item.id)">
                        <i class="fa fa-trash fa-lg"> </i> Elimina
                    </button>
                </div>
                <div *ngIf="canEdit" class="float-right visible-parent-hover-or-active ml-2">
                    <button type="button" class="btn btn-xs" (click)="toggleEdit(odgItemForm)"
                            [ngClass]="{'btn-outline-primary': !edit, 'btn-primary': edit}">
                        <span *ngIf="!edit"><i class="fa fa-edit fa-lg"> </i> Modifica</span>
                        <span *ngIf="edit"><i class="fa fa-edit fa-lg"> </i> Fine</span>
                    </button>
                </div>
                <h5 class="fw-semi-bold mb-lg">
                    {{item.denominazione}}
                </h5>
            </div>

            <div>
                <accordion [closeOthers]="false" class="mb-lg show" id="cipe_odg_allegati[{{item.id}}]">
                    <accordion-group #accordionGroupDefinition
                                     [panelClass]="'accordion-info'"
                                     [isOpen]="edit || isNew  || viewtype == 'detail'"
                                     *ngIf="edit || viewtype == 'detail'">
                        <div accordion-heading>
                            <i class="fa fa-files-o fa-lg"></i> &nbsp; <strong>Definizione</strong>
                            <i class="fa float-right"
                               [ngClass]="{'fa-angle-down': accordionGroupDefinition?.isOpen, 'fa-angle-right': !accordionGroupDefinition?.isOpen}"></i>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DENOMINAZIONE -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['denominazione'].valid }">
                                            <label for="denominazione[{{item.id}}]"><strong>Denominazione</strong></label>

                                            <!-- VIEW / EDIT -->
                                            <textarea id="denominazione[{{item.id}}]"
                                                      rows="2" class="autogrow form-control transition-height"
                                                      placeholder="Scrivi la descrizione del punto all'ordine del giorno..."
                                                      [disableCond]="!edit"
                                                      [formControl]="odgItemForm.controls['denominazione']" autosize></textarea>

                                        </div>
                                    </div>
                                </div>

                                <!-- TITOLARIO / FASCICOLO -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['id_titolari'].valid}">
                                            <label for="id_titolari[{{item.id}}]"><strong>Titolario</strong></label>

                                            <!-- EDIT -->
                                            <div *ngIf="edit" class="select2-H-keeper">
                                                <select2
                                                        id="id_titolari[{{item.id}}]"
                                                        class="full-width-select"
                                                        [options]="select2Options"
                                                        [value]="item.id_titolari"
                                                        (valueChanged)="select2Changed($event, item, 'id_titolari')"
                                                        [cssImport]="false"
                                                        [data]="titolari$ | async"></select2>

                                                <!--todo: ng2-select2 no form control value accessor workaround-->
                                                <input type="hidden" [formControl]="odgItemForm.controls['id_titolari']" [disableCond]="!edit">
                                            </div>
                                            <!-- VIEW -->
                                            <div *ngIf="!edit">
                                        <textarea disabled="disabled" readonly
                                                  rows="1" class="form-control single-row"
                                                  placeholder="Click su 'Modifica' per selezionare..."
                                                  title="{{ item.id_titolari | dataEnum : apiService.dataEnum : 'titolari' : 'text' }}"
                                        >{{ item.id_titolari | dataEnum : apiService.dataEnum : 'titolari' : 'text' }}</textarea>
                                            </div>
                                            <!--{{item.id_titolari}}-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['id_fascicoli'].valid}">
                                            <label for="id_fascicoli[{{item.id}}]"><strong>Fascicolo</strong></label>
                                            <!-- EDIT -->
                                            <div *ngIf="edit && item.id_titolari !== null" class="select2-H-keeper">
                                                <select2
                                                        id="id_fascicoli[{{item.id}}]"
                                                        class="full-width-select"
                                                        [options]="select2Options"
                                                        [value]="item.id_fascicoli"
                                                        (valueChanged)="select2Changed($event, item, 'id_fascicoli')"
                                                        [cssImport]="false"
                                                        [data]="fascicoli$ | async | fascicoliByTitolarioDataFilter : item.id_titolari"></select2>

                                                <!--<pre>{{fascicoli$ | async | fascicoliByTitolarioDataFilter : item.id_titolari | json}}</pre>-->
                                                <!--todo: ng2-select2 no form control value accessor workaround-->
                                                <input type="hidden" [formControl]="odgItemForm.controls['id_fascicoli']" [disableCond]="!edit">
                                            </div>
                                            <!-- EDIT + NO TITOLARI -->
                                            <div *ngIf="edit && item.id_titolari === null">
                                        <textarea disabled="disabled" readonly rows="1" class="form-control single-row"
                                                  placeholder="Seleziona prima un titolario..."></textarea>
                                            </div>
                                            <!-- VIEW -->
                                            <div *ngIf="!edit">
                                        <textarea disabled="disabled" readonly
                                                  rows="1" class="form-control single-row"
                                                  placeholder="Click su 'Modifica' per selezionare..."
                                                  title="{{ item.id_fascicoli | dataEnum : apiService.dataEnum : 'fascicoli' : 'text' }}"
                                        >{{ item.id_fascicoli | dataEnum : apiService.dataEnum : 'fascicoli' : 'text' }}</textarea>
                                            </div>

                                            <!--{{item.id_fascicoli}}-->
                                        </div>
                                    </div>
                                </div>

                                <!-- REGISTRO -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['id_registri'].valid}">
                                            <label for="id_registri[{{item.id}}]"><strong>Registro(i)</strong></label>

                                            <!-- EDIT -->
                                            <div *ngIf="edit && item.id_fascicoli !== null" class="select2-H-keeper">
                                                <select2
                                                        id="id_registri[{{item.id}}]"
                                                        class="full-width-select"
                                                        [options]="select2OptionsMulti"
                                                        [value]="item.id_registri"
                                                        (valueChanged)="select2Changed($event, item, 'id_registri')"
                                                        [cssImport]="false"
                                                        [data]="registri$ | async | registriByFascicoloDataFilter : item.id_fascicoli"></select2>

                                                <!--todo: ng2-select2 no form control value accessor workaround-->
                                                <input type="hidden" [formControl]="odgItemForm.controls['id_registri']" [disableCond]="!edit">
                                            </div>

                                            <!-- EDIT + NO FASCICOLI -->
                                            <div *ngIf="edit && item.id_fascicoli === null">
                                        <textarea disabled="disabled" readonly rows="1" class="form-control"
                                                  placeholder="Seleziona prima un fascicolo..." autosize></textarea>
                                            </div>

                                            <!-- VIEW -->
                                            <div *ngIf="!edit">
                                        <textarea disabled="disabled" readonly
                                                  rows="1" class="form-control"
                                                  placeholder="Click su 'Modifica' per selezionare..." autosize
                                                  title="{{item.id_registri | dataEnum : apiService.dataEnum : 'registri' : 'text'}}"
                                        >{{item.id_registri | dataEnum : apiService.dataEnum : 'registri' : 'text' : '\n\n'}}</textarea>
                                            </div>

                                            <!--{{item.id_registri}}-->
                                        </div>
                                    </div>
                                </div>

                                <!-- ANNOTAZIONI -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" [ngClass]="{ 'has-danger': hasErrors && !odgItemForm.controls['annotazioni'].valid }">
                                            <label for="annotazioni[{{item.id}}]"><strong>Annotazioni</strong></label>

                                            <!-- VIEW / EDIT -->
                                            <textarea [disableCond]="!edit"
                                                      rows="2" class="autogrow form-control transition-height" id="annotazioni[{{item.id}}]"
                                                      name="annotazioni[{{item.id}}]"
                                                      placeholder="Scrivi la descrizione del punto all'ordine del giorno..."
                                                      [formControl]="odgItemForm.controls['annotazioni']" autosize></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </accordion-group>
                    <accordion-group #accordionGroupDocs
                                     [panelClass]="'accordion-' + allegatiStatus(item)"
                                     [isOpen]="edit || isNew || viewtype=='documents'  || viewtype == 'detail'"
                                     *ngIf="edit || viewtype == 'detail' || viewtype=='documents'">
                        <div accordion-heading>
                            <i class="fa float-right"
                               [ngClass]="{'fa-angle-down': accordionGroupDocs?.isOpen, 'fa-angle-right': !accordionGroupDocs?.isOpen}"></i>
                            <strong [ngSwitch]="allegatiStatus(item)" class="float-md-right mr-4">
                                <span *ngSwitchCase="'success'" class="badge badge-lg badge-success">Tutti</span>
                                <span *ngSwitchCase="'warning'" class="badge badge-lg badge-warning">Alcuni esclusi (notificati)</span>
                                <span *ngSwitchCase="'danger'" class="badge badge-lg badge-danger">Esclusi da notificare</span>
                                <span *ngSwitchCase="'missing'" class="badge badge-lg badge-danger">Uno o più registri non contengono allegati</span>
                                <span *ngSwitchCase="'noregistri'" class="badge badge-lg badge-danger">Nessun registro selezionato</span>
                            </strong>
                            <i class="fa fa-files-o fa-lg"></i> &nbsp; <strong>Documenti inclusi in ODG</strong>
                        </div>
                        <!--<pre>{{_allegati | json}}</pre>-->
                        <div *ngFor="let id_registri_odg of castToArray(item.id_registri)" class="filetypes-small">
                            <div *ngFor="let allegato of item.allegati[id_registri_odg]">
                                <input type="checkbox"
                                       [checked]="allegatoIsChecked(item, allegato.id)"
                                       [disabled]="!canEdit && !edit"
                                       (change)="allegato.escluso = !allegato.escluso"
                                       (click)="toggleAllegato(item, allegato.id)">
                                <label class="rel-t-m4">
                                    <i class="filetypes filetypes-{{allegato.tipo}}"></i>
                                    <a href="{{apiService.config.baseAPIURL}}/{{allegato.relURI}}" target="_blank"
                                       title="Dimensione: {{allegato.dimensione | fileSize}} - Data caricato: {{allegato.data  | date: 'dd/MM/yyyy HH:mm'}}">
                                        {{allegato.nome}}
                                    </a>
                                </label>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <accordion [closeOthers]="true" class="mb-lg show" id="debug[{{item.id}}]" *ngIf="viewtype == 'debug'">
                    <accordion-group #accordionGroupDebug [panelClass]="'accordion-danger'">
                        <div accordion-heading>
                            <i class="fa fa-bug fa-lg"></i> &nbsp; <strong>Debug</strong>
                            <i class="fa float-right"
                               [ngClass]="{'fa-angle-down': accordionGroupDebug?.isOpen, 'fa-angle-right': !accordionGroupDebug?.isOpen}"></i>
                        </div>
                        <div>
                            <pre>item = {{item | json}}</pre>
                            <!--                    <div *ngFor="let id_registri_odg of castToArray(item.id_registri)">
                                                    <pre>{{_allegati$[id_registri_odg] | async | json}}</pre>
                                                </div>-->
                        </div>
                    </accordion-group>
                </accordion>
            </div>

        </div>
    </div>
</form>