<form *ngIf="apiService.commonDataready && (model.id || mode == 'create')" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

    <div class="pull-right">
        <button type="reset" class="btn btn-default btn-cancel" (click)="cancel($event)">Annulla</button>
        <button type="submit" class="btn btn-primary btn-save">Salva</button>
    </div>

    <h3 class="page-title"><a [routerLink]=" ['/app/precipe/list'] ">Pre-CIPE</a> /
        <span *ngIf="mode == 'create'" class="fw-semi-bold">Crea nuovo</span>
        <span *ngIf="mode == 'update'" class="fw-semi-bold">riunione del {{ model.data | date: 'dd/MM/yyyy' }}</span>
    </h3>

    <section class="widget">
        <div class="widget-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !data.valid }">
                        <label for="data"><strong>Data della riunione</strong></label>
                        <datetime id="data" name="data"
                                  [datepicker]="datePickerOptions"
                                  [timepicker]="false"
                                  [(ngModel)]="model.data" #data="ngModel" required></datetime>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ufficiale_riunione"><strong>Stato</strong></label>
                        <div>
                            <label class="switch">
                                <input id="ufficiale_riunione" name="ufficiale_riunione" type="checkbox"
                                       class="ios"
                                       [checked]="model.ufficiale_riunione == '1'"
                                       (change)="model.ufficiale_riunione = $event.target.checked ? '1' : '0'"
                                       (click)="askOfficializePreCipe($event, officializePreCipeModal, model)"
                                       [disabled]="officializingPreCipe != null || model.ufficiale_riunione === '1'"
                                ><i></i>
                            </label>&nbsp;&nbsp;
                            <span *ngIf="model.ufficiale_riunione === '0' && officializingPreCipe === null"
                                  class="tag tag-danger rel-t-l10">Bozza</span>
                            <span *ngIf="model.ufficiale_riunione === '1' && officializingPreCipe === null" class="tag tag-success rel-t-l10">Ufficiale</span>
                            <span *ngIf="officializingPreCipe !== null" class="rel-t-l10"> <i
                                    class="loading-spinner"></i> Pubblicazione in corso...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <tabset #staticTabs>
        <tab [customClass]="'p-0'">
            <ng-template tabHeading>
                <strong>Ordine del giorno</strong>
            </ng-template>
            <ul [dragula]='"bag-one"' [dragulaModel]='model.precipe_odg' class="list-group">
                <li *ngFor="let item of model.precipe_odg" class="list-group-item">

                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !denominazione.valid }">
                                <!-- EDIT -->
                                <input *ngIf="item.edit" type="text" class="form-control" id="ordine[{{item.id}}]" name="ordine[{{item.id}}]"
                                       placeholder="..."
                                       [(ngModel)]="item.ordine" #punto_odg="ngModel" required>

                                <!-- VIEW -->
                                <div *ngIf="!item.edit">
                                    <i class="fa fa-sort fa-lg float-xs-left rel-t-m10"> </i> <h2 class="ml-2"> <strong> {{item.ordine}}</strong></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="float-lg-right ml-1"><a (click)="item.edit = !item.edit"><i class="fa fa-edit fa-lg"> </i></a></div>
                            <h5 class="fw-semi-bold">{{item.denominazione}}</h5>

                            <accordion [closeOthers]="true" class="mb-lg show" id="precipe_odg_allegati[{{item.id}}]">
                                <accordion-group #accordionGroupDefinition [panelClass]="'accordion-info'">
                                    <div accordion-heading>
                                        <i class="fa fa-files-o fa-lg"></i> &nbsp; <strong>Definizione</strong>
                                        <i class="fa float-xs-right"
                                           [ngClass]="{'fa-angle-down': accordionGroupDefinition?.isOpen, 'fa-angle-right': !accordionGroupDefinition?.isOpen}"></i>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- DENOMINAZIONE -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !denominazione.valid }">
                                                        <label for="denominazione[{{item.id}}]"><strong>Denominazione</strong></label>

                                                        <!-- VIEW / EDIT -->
                                                        <textarea [disabled]="!item.edit"
                                                                  rows="2" class="autogrow form-control transition-height" id="denominazione[{{item.id}}]"
                                                                  name="denominazione[{{item.id}}]"
                                                                  placeholder="Scrivi la descrizione del punto all'ordine del giorno..."
                                                                  [(ngModel)]="item.denominazione" #denominazione="ngModel" autosize required></textarea>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- UFFICIO / RISULTANZA-->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="id_uffici[{{item.id}}]"><strong>Ufficio di competenza</strong></label>

                                                        <!-- EDIT -->
                                                        <div *ngIf="item.edit" class="select2-H-keeper">
                                                            <select2
                                                                    id="id_uffici[{{item.id}}]"
                                                                    class="full-width-select"
                                                                    [options]="select2Options"
                                                                    [value]="item.id_uffici"
                                                                    (valueChanged)="select2Changed($event, item, 'id_uffici')"
                                                                    cssImport="false"
                                                                    [data]="uffici$ | async"></select2>
                                                        </div>

                                                        <!-- VIEW -->
                                                        <div *ngIf="!item.edit">
                                            <textarea disabled="disabled" readonly
                                                      rows="1" class="form-control single-row"
                                                      placeholder="Click su 'Modifica' per selezionare..."
                                                      title="{{ item.id_uffici | dataEnum : apiService.dataEnum : 'uffici' : 'text' }}"
                                            >{{ item.id_uffici | dataEnum : apiService.dataEnum : 'uffici' : 'text' }}</textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><strong>Risultanza</strong></label>
                                                    <div class="mt-1 rel-t-l7">
                                        <span class="abc-radio abc-radio-default">
                                            <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_nd[{{item.id}}]" value=""
                                                   [checked]="item.risultanza !== 1 && item.risultanza !== 2"
                                                   (click)="item.risultanza = ''">
                                            <label for="risultanza_nd[{{item.id}}]">
                                                <span [ngClass]="{ 'tag tag-default': item.risultanza !== 1 && item.risultanza !== 2 }" class="rel-t-l2">N/D</span>
                                            </label>
                                        </span>
                                                        <span class="abc-radio abc-radio-warning">
                                            <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_rinviato[{{item.id}}]" value="2"
                                                   [checked]="item.risultanza === 2"
                                                   (click)="item.risultanza = 2">
                                            <label for="risultanza_rinviato[{{item.id}}]">
                                                <span [ngClass]="{ 'tag tag-warning': item.risultanza === 2 }" class="rel-t-l2">Rinviato</span>
                                            </label>
                                        </span>
                                                        <span class="abc-radio abc-radio-success">
                                            <input type="radio" name="risultanza[{{item.id}}]" id="risultanza_positivo[{{item.id}}]" value="1"
                                                   [checked]="item.risultanza === 1"
                                                   (click)="item.risultanza = 1">
                                            <label for="risultanza_positivo[{{item.id}}]">
                                                <span [ngClass]="{ 'tag tag-success': item.risultanza === 1 }" class="rel-t-l2">Positivo</span>
                                            </label>
                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- TITOLARIO / FASCICOLO -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="id_titolari[{{item.id}}]"><strong>Titolario</strong></label>

                                                        <!-- EDIT -->
                                                        <div *ngIf="item.edit" class="select2-H-keeper">
                                                            <select2
                                                                    id="id_titolari[{{item.id}}]"
                                                                    class="full-width-select"
                                                                    [options]="select2Options"
                                                                    [value]="item.id_titolari"
                                                                    (valueChanged)="select2Changed($event, item, 'id_titolari')"
                                                                    cssImport="false"
                                                                    [data]="titolari$ | async"></select2>
                                                        </div>

                                                        <!-- VIEW -->
                                                        <div *ngIf="!item.edit">
                                            <textarea disabled="disabled" readonly
                                                      rows="1" class="form-control single-row"
                                                      placeholder="Click su 'Modifica' per selezionare..."
                                                      title="{{ item.id_titolari | dataEnum : apiService.dataEnum : 'titolari' : 'text' }}"
                                            >{{ item.id_titolari | dataEnum : apiService.dataEnum : 'titolari' : 'text' }}</textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="id_fascicoli[{{item.id}}]"><strong>Fascicolo</strong></label>

                                                        <!-- EDIT -->
                                                        <div *ngIf="item.edit" class="select2-H-keeper">
                                                            <select2
                                                                    id="id_fascicoli[{{item.id}}]"
                                                                    class="full-width-select"
                                                                    [options]="select2Options"
                                                                    [value]="item.id_fascicoli"
                                                                    (valueChanged)="select2Changed($event, item, 'id_fascicoli')"
                                                                    cssImport="false"
                                                                    [data]="fascicoli$ | async | fascicoliByTitolarioDataFilter : item.id_titolari"></select2>
                                                        </div>

                                                        <!-- VIEW -->
                                                        <div *ngIf="!item.edit">
                                            <textarea disabled="disabled" readonly
                                                      rows="1" class="form-control single-row"
                                                      placeholder="Click su 'Modifica' per selezionare..."
                                                      title="{{ item.id_fascicoli | dataEnum : apiService.dataEnum : 'fascicoli' : 'text' }}"
                                            >{{ item.id_fascicoli | dataEnum : apiService.dataEnum : 'fascicoli' : 'text' }}</textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- REGISTRO -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="id_registri[{{item.id}}]"><strong>Registro(i)</strong></label>

                                                        <!-- EDIT -->
                                                        <div *ngIf="item.edit" class="select2-H-keeper">
                                                            <select2
                                                                    id="id_registri[{{item.id}}]"
                                                                    class="full-width-select"
                                                                    [options]="select2OptionsMulti"
                                                                    [value]="item.id_registri"
                                                                    (valueChanged)="select2Changed($event, item, 'id_registri')"
                                                                    cssImport="false"
                                                                    [data]="registri$ | async | registriByFascicoloDataFilter : item.id_fascicoli"></select2>
                                                        </div>

                                                        <!-- VIEW -->
                                                        <div *ngIf="!item.edit">
                                    <textarea disabled="disabled" readonly
                                              rows="1" class="form-control single-row"
                                              placeholder="Click su 'Modifica' per selezionare..."
                                              title="{{item.id_registri | dataEnum : apiService.dataEnum : 'registri' : 'text'}}"
                                    >{{item.id_registri | dataEnum : apiService.dataEnum : 'registri' : 'text'}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- ANNOTAZIONI -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !annotazioni.valid }">
                                                        <label for="annotazioni[{{item.id}}]"><strong>Annotazioni</strong></label>

                                                        <!-- VIEW / EDIT -->
                                                        <textarea [disabled]="!item.edit"
                                                                  rows="2" class="autogrow form-control transition-height" id="annotazioni[{{item.id}}]"
                                                                  name="annotazioni[{{item.id}}]"
                                                                  placeholder="Scrivi la descrizione del punto all'ordine del giorno..."
                                                                  [(ngModel)]="item.annotazioni" #annotazioni="ngModel" autosize required></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </accordion-group>
                                <accordion-group  #accordionGroupDocs [panelClass]="'accordion-info'">
                                    <div accordion-heading>
                                        <i class="fa fa-files-o fa-lg"></i> &nbsp; <strong>Documenti inclusi in ODG</strong>
                                        <i class="fa float-xs-right"
                                           [ngClass]="{'fa-angle-down': accordionGroupDocs?.isOpen, 'fa-angle-right': !accordionGroupDocs?.isOpen}"></i>

                                    </div>
                                    <div>
                                        <p>
                                            <span class="fw-semi-bold">Non ancora implementato</span>
                                        </p>
                                    </div>
                                </accordion-group>
                            </accordion>
                            <accordion [closeOthers]="true" class="mb-lg show" id="debug[{{item.id}}]">
                                <accordion-group #accordionGroupDebug [panelClass]="'accordion-danger'">
                                    <div accordion-heading>
                                        <i class="fa fa-bug fa-lg"></i> &nbsp; <strong>Debug</strong>
                                        <i class="fa float-xs-right"
                                           [ngClass]="{'fa-angle-down': accordionGroupDebug?.isOpen, 'fa-angle-right': !accordionGroupDebug?.isOpen}"></i>
                                    </div>
                                    <div>
                                        <pre>{{item | json}}</pre>
                                        {{registri$ | async | registriByFascicoloDataFilter : item.id_fascicoli | arrayLength}}
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </li>
            </ul>
        </tab>
        <tab>
            <ng-template tabHeading>
                <strong>Appunto Generale <span *ngIf="model.allegati_APG">({{model.allegati_APG.length}})</span></strong>
            </ng-template>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Documenti allegati</span></h4>
                        </header>
                        <div class="widget-body no-padding">
                            <ul *ngIf="model.allegati_APG" class="news-list stretchable">
                                <li *ngFor="let allegato of model.allegati_APG">
                            <span class="icon">
                                <i class="filetypes filetypes-{{allegato.tipo}} x2"></i>
                            </span>
                                    <div class="news-item-info">
                                        <div class="float-lg-right"><a (click)="askDeleteFile($event, deleteFileModal, allegato)"><i
                                                class="fa fa-trash-o"> </i></a></div>
                                        <h5 class="name no-margin mb-xs"><a href="{{apiService.config.baseAPIURL}}/{{allegato.relURI}}"
                                                                            target="_blank">{{allegato.nome}}</a></h5>
                                        <p class="fs-mini">Dimensione: {{allegato.dimensione | fileSize}} - Data caricato:
                                            <time>{{allegato.data | date: 'dd/MM/yyyy HH:mm'}}</time>
                                        </p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Carica File</span></h4>
                        </header>
                        <div class="widget-body">
                            <div *ngIf="!allowUpload">
                                <div role="alert" class="alert alert-danger">
                                    <strong>Attenzione!</strong> Prima di caricare i file è necessario salvare la scheda.
                                </div>
                            </div>
                            <div ngFileDrop
                                 [options]="NGUPoptions_APG"
                                 (onUpload)="handleMultipleUpload($event)"
                                 (onPreviewData)="handlePreviewData($event)"
                                 (onUploadRejected)="rejectUpload($event)"
                                 (beforeUpload)="beforeUpload($event)"
                                 [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                 (onFileOver)="fileOverBase($event)"
                                 class="drag-n-drop-container"
                                 *ngIf="allowUpload">

                                <h3>Rilascia i file qui dentro per caricarli oppure fai click per selezionare i file</h3>

                                <label class="upload-button">
                                    <input type="file"
                                           multiple
                                           class="hidden"
                                           ngFileSelect
                                           [options]="NGUPoptions_APG"
                                           (onUpload)="handleMultipleUpload($event)">
                                    Sfoglia
                                </label>
                            </div>
                            <div *ngIf="progress && progress < 1" class="bg-gray-lighter progress-bar">
                                <progress class="progress progress-danger" value="{{progress*100}}" max="100">{{progress*100}}%</progress>
                            </div>


                            <div *ngIf="errorMessage">
                                <code>{{ errorMessage }}</code>
                            </div>

                            <div *ngIf="previewData && !response">
                                <img [src]="previewData">
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <strong>Elenco Telex <span *ngIf="model.allegati_TLX">({{model.allegati_TLX.length}})</span></strong>
            </ng-template>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Documenti allegati</span></h4>
                        </header>
                        <div class="widget-body no-padding">
                            <ul *ngIf="model.allegati_TLX" class="news-list stretchable">
                                <li *ngFor="let allegato of model.allegati_TLX">
                            <span class="icon">
                                <i class="filetypes filetypes-{{allegato.tipo}} x2"></i>
                            </span>
                                    <div class="news-item-info">
                                        <div class="float-lg-right"><a (click)="askDeleteFile($event, deleteFileModal, allegato)"><i
                                                class="fa fa-trash-o"> </i></a></div>
                                        <h5 class="name no-margin mb-xs"><a href="{{apiService.config.baseAPIURL}}/{{allegato.relURI}}"
                                                                            target="_blank">{{allegato.nome}}</a></h5>
                                        <p class="fs-mini">Dimensione: {{allegato.dimensione | fileSize}} - Data caricato:
                                            <time>{{allegato.data | date: 'dd/MM/yyyy HH:mm'}}</time>
                                        </p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Carica File</span></h4>
                        </header>
                        <div class="widget-body">
                            <div *ngIf="!allowUpload">
                                <div role="alert" class="alert alert-danger">
                                    <strong>Attenzione!</strong> Prima di caricare i file è necessario salvare la scheda.
                                </div>
                            </div>
                            <div ngFileDrop
                                 [options]="NGUPoptions_TLX"
                                 (onUpload)="handleMultipleUpload($event)"
                                 (onPreviewData)="handlePreviewData($event)"
                                 (onUploadRejected)="rejectUpload($event)"
                                 (beforeUpload)="beforeUpload($event)"
                                 [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                 (onFileOver)="fileOverBase($event)"
                                 class="drag-n-drop-container"
                                 *ngIf="allowUpload">

                                <h3>Rilascia i file qui dentro per caricarli oppure fai click per selezionare i file</h3>

                                <label class="upload-button">
                                    <input type="file"
                                           multiple
                                           class="hidden"
                                           ngFileSelect
                                           [options]="NGUPoptions_TLX"
                                           (onUpload)="handleMultipleUpload($event)">
                                    Sfoglia
                                </label>
                            </div>
                            <div *ngIf="progress && progress < 1" class="bg-gray-lighter progress-bar">
                                <progress class="progress progress-danger" value="{{progress*100}}" max="100">{{progress*100}}%</progress>
                            </div>


                            <div *ngIf="errorMessage">
                                <code>{{ errorMessage }}</code>
                            </div>

                            <div *ngIf="previewData && !response">
                                <img [src]="previewData">
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <strong>Osservazioni <span *ngIf="model.allegati_OSS">({{model.allegati_OSS.length}})</span></strong>
            </ng-template>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Documenti allegati</span></h4>
                        </header>
                        <div class="widget-body no-padding">
                            <ul *ngIf="model.allegati_OSS" class="news-list stretchable">
                                <li *ngFor="let allegato of model.allegati_OSS">
                            <span class="icon">
                                <i class="filetypes filetypes-{{allegato.tipo}} x2"></i>
                            </span>
                                    <div class="news-item-info">
                                        <div class="float-lg-right"><a (click)="askDeleteFile($event, deleteFileModal, allegato)"><i
                                                class="fa fa-trash-o"> </i></a></div>
                                        <h5 class="name no-margin mb-xs"><a href="{{apiService.config.baseAPIURL}}/{{allegato.relURI}}"
                                                                            target="_blank">{{allegato.nome}}</a></h5>
                                        <p class="fs-mini">Dimensione: {{allegato.dimensione | fileSize}} - Data caricato:
                                            <time>{{allegato.data | date: 'dd/MM/yyyy HH:mm'}}</time>
                                        </p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4><span class="fw-semi-bold">Carica File</span></h4>
                        </header>
                        <div class="widget-body">
                            <div *ngIf="!allowUpload">
                                <div role="alert" class="alert alert-danger">
                                    <strong>Attenzione!</strong> Prima di caricare i file è necessario salvare la scheda.
                                </div>
                            </div>
                            <div ngFileDrop
                                 [options]="NGUPoptions_OSS"
                                 (onUpload)="handleMultipleUpload($event)"
                                 (onPreviewData)="handlePreviewData($event)"
                                 (onUploadRejected)="rejectUpload($event)"
                                 (beforeUpload)="beforeUpload($event)"
                                 [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                 (onFileOver)="fileOverBase($event)"
                                 class="drag-n-drop-container"
                                 *ngIf="allowUpload">

                                <h3>Rilascia i file qui dentro per caricarli oppure fai click per selezionare i file</h3>

                                <label class="upload-button">
                                    <input type="file"
                                           multiple
                                           class="hidden"
                                           ngFileSelect
                                           [options]="NGUPoptions_OSS"
                                           (onUpload)="handleMultipleUpload($event)">
                                    Sfoglia
                                </label>
                            </div>
                            <div *ngIf="progress && progress < 1" class="bg-gray-lighter progress-bar">
                                <progress class="progress progress-danger" value="{{progress*100}}" max="100">{{progress*100}}%</progress>
                            </div>


                            <div *ngIf="errorMessage">
                                <code>{{ errorMessage }}</code>
                            </div>

                            <div *ngIf="previewData && !response">
                                <img [src]="previewData">
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </tab>
    </tabset>


</form>

<modal #officializePreCipeModal cancelButtonLabel="Annulla" submitButtonLabel="Conferma" [hideCloseButton]="true"
       (onSubmit)="confirmOfficializePreCipe(officializePreCipeModal)"
       (onCancel)="cancelOfficializePreCipe(officializePreCipeModal)"
>
    <modal-header>
        <h4 class="modal-title fw-bold mt"><i class="fa fa-warning"></i> Confermi l'ufficializzazione del Pre-CIPE ?</h4>
    </modal-header>
    <modal-content>
        <h4 class="mt-sm">
            I punti all'o.d.g. e documenti allegati saranno pubblicati nell'area riservata.<br/><br/>
            A pubblicazione completa, in questa scheda sarà disponibile il collegamento per visualizzarli.
        </h4>
    </modal-content>
    <modal-footer>
    </modal-footer>
</modal>


